doctype html
html(lang="en")
	include ./partials/header.pug
	body
		include ./partials/nav.pug
	
		.container
			.main
				include ./mixins/_card.pug
				+card('color.html', '393232', '4d4545', '8d6262', 'ed8d8d', '50', 'yesterday')
				+card('color.html', 'a9eca2', 'f5ffcb', 'ffe3b0', 'f5c8bd', '63', '2 days')
				+card('color.html', '36626a', '588d9c', '73b1c1', 'f1d18a', '60', '3 days')
				+card('color.html', '211572', '24bddf', 'fffdbb', 'f4f4f4', '70', '5 days')
				+card('color.html', 'f7f2c1', 'f0ca6d', '48ba95', '403321', '113', '6 days')
				+card('color.html', '282d4f', '23103a', 'a0204c', 'ff6c00', '138', '7 days')
				+card('color.html', 'ffc7c7', 'ffe2e2', 'f6f6f6', '8785a2', '379', '8 days')
				+card('color.html', 'f2e8c6', 'f5841a', 'bb0029', '03002c', '155', '10 days')
				+card('color.html', '393232', '4d4545', '8d6262', 'ed8d8d', '50', 'yesterday')
				+card('color.html', 'a9eca2', 'f5ffcb', 'ffe3b0', 'f5c8bd', '63', '2 days')
				+card('color.html', '36626a', '588d9c', '73b1c1', 'f1d18a', '60', '3 days')
				+card('color.html', '211572', '24bddf', 'fffdbb', 'f4f4f4', '70', '5 days')
				+card('color.html', 'f7f2c1', 'f0ca6d', '48ba95', '403321', '113', '6 days')
				+card('color.html', '282d4f', '23103a', 'a0204c', 'ff6c00', '138', '7 days')
				+card('color.html', 'ffc7c7', 'ffe2e2', 'f6f6f6', '8785a2', '379', '8 days')
				+card('color.html', 'f2e8c6', 'f5841a', 'bb0029', '03002c', '155', '10 days')

			.side
				.liked
				
				.subscribe
					form(action="#", method="POST")
						p Get a weekly palette to your inbox!
						input(type="email", placeholder="Your Email", name="email")
						br
						button.hard_shadow(type="submit") Subscribe
				.footer
					p
					| Made with  
					span.lnr.lnr-heart
					|  by Mohamed Ashraf
		

		include ./partials/footer.pug