@import "lib.scss";


/*=============================
		    Nav
=============================*/
#nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: transparent;
	color: $black;
	padding: 40px 0px;
	transition: all 0.5s ease-in-out;
	z-index: 10;
	#nav-icon{
		color: $black;
		font-size: 14px;
		padding:0px;
		position: absolute;
		top: 42%;
		z-index: 2;
		text-decoration: none;
		cursor: pointer !important;
		transition: $transition-1;
		&:hover, &:focus{
			color: $blue;
		}
	}

	// Side Menu
	#side-menu{
		display: block;
		position: fixed;
		top: 0px;
		left: -380px;
		height: 100%;
		width: 380px;
		max-width: 650px;
		padding: 40px;
		z-index: 50;
		background-color: $black;
		transition: $transition-2;
		#close-side-menu{
			position: absolute;
			color: #ffffff;
			right: 20px;
			top: 52px;
			font-size: 24px;
			text-decoration: none;
		}
		.logo{
			img{
				margin-top: 20px;
			}
		}
		ul{
			margin-top: 40px;
			li{
				display: block;
				margin: 10px 0;
				a{
					text-transform: capitalize;
					text-decoration: none;
					font-size: 16px;
					color: #fff;
					&:hover, &:focus{
						color: $blue;
					}
				}
				.btn-blue{
					&:hover, &:focus{
						color: #fff !important;
						border: 1px solid #fff;
						background-color: transparent;
					}
				}
			}
			li:last-child{
				margin-top: 20px;

			}
		}

		#slide-menu-footer{
			position: absolute;
			display: block;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 20px 40px 25px;
			#more-info{
				p{
					font-size: 14px;
					line-height: 24px;
					color: rgba(255, 255, 255, 0.8);
					margin: 0;
				}
			}
			#socials{
				 margin: 18px 0 0;
				li{
					display: inline-block;
					margin: 0 20px 0 0;
				}
				li:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.row{
			ul{
				padding: 0px;
				li{
					display: inline-block;
					margin-right: 40px;
					a{
						font-size: 16px;
						font-weight: 600px;
						color: $black;
						text-decoration: none;
						text-transform: capitalize;
						&:hover, &:focus{
							color: $blue;
						}
					}
					.help{
						color: $gray;
					}
					.btn-blue{
						color: #fff;
						i{
							margin-right: 10px;
						}
						&:hover, &:active{
							color: $black;
						}
					}
				}
				li:last-child{
					margin-right: 0px;
				}
			}

			#nav-left{
				float: left;
				margin-left: 60px;
				padding-top: 15px;
			}
			#nav-center{
				padding-top: 15px;
			}
			#nav-right{
				float: right;
				padding-top: 10px;
			}

	}
}

/*=============================
		    Header
=============================*/
#header{
	background-image: url('../images/banner_background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0px 510px;
	overflow: hidden;
	position: relative;
	h1{
		color: $black;
		font-size: 60px;
		font-family: $varelaFont;
	}
	p{
		color: $gray;
		font-family: $latoFont;
		font-size: 20px;
	}
	.btn-video{
		margin-top: 48px;

	}
	img{
		position: absolute;
		bottom: -310px;
		left: 50%;
		margin-left: -185px;
	}
}

/*=============================
		   Features
=============================*/
#features{
	padding: 120px 0;
	.feature{
		padding: 0 38px;
		.feature-icon{
			margin-bottom: 48px;
			span{
				color: $blue;
				font-size: 42px;
			}
		}
		.feature-description{
			h4{
				font-weight: bold;
			}
			p{
				color: $gray;
			}
		}
	}
}
/*=============================
		Iphone Features
=============================*/
#iphone-feature{
	position: relative;
	padding: 200px 0 300px;
	#iphone-feature-description{
		h2{
			font-family: $varelaFont;
		}
		.button-container{
			margin-top: 62px;
			a{
				margin-right: 20px;
				margin-bottom: 18px;
				i{
					margin-left: 50px;
					font-size: 14px;
				}
			}
		}
	}
	#iphone-showcase{
		position: absolute;
		bottom: 110px;
		right: 50%;
	}
}


/*=============================
		  Map Features
=============================*/
#map-feature{
	padding: 100px 0px 120px;
	position: relative;
	overflow: hidden;
	h2{
		font-family: $varelaFont;

	}
	#partner{
		margin-top: 52px;
		h5{
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
		ul{
			margin-top: 35px;
			li{
				display: inline-block;
				margin-right: 30px;
				margin-bottom: 15px;
			}
			li:last-child{
				margin-right: 0px;
			}
		}
	}
	#map-showcase{
		position: absolute;
		bottom: 110px;
		left: 50%;
	}
}

/*=============================
		Iphone Screens
=============================*/
#iphone-screens{
	background-color: #f5f5f8;
	padding: 140px 0px 80px;
	position: relative;
	overflow: hidden;
	h2{
		margin-bottom: 0px;
		font-family: $varelaFont;
	}
	hr{
		width: 50px;
		height: 2px;
		background-color: $blue;
		margin: 40px auto;
	}
	p{
		font-size: 12px;
		letter-spacing: 0.1em;
		font-weight: 700;
		text-transform: uppercase;
	}
	#images-showcase{
		margin-top: 50px;
		#images-list{
			display: block;
			li{
				display: inline-block;
				margin: 0px 10px;
				img{
					max-width: 100%;
				}
			}
			li:first-child{
				margin-left: -140px;
			}
			li:last-child{
				margin-right: -140px;
			}
			li:nth-child(1), li:nth-child(2), li:nth-child(4), li:nth-child(5){
				box-shadow: $shadow;
			}

		}
	}
}

/*=============================
		Ready To Buy
=============================*/
#ready-to-buy{
	padding: 120px 0 130px;
	background-color: #f5f5f8;
	h2{
		font-family: $varelaFont;
	}
	form{
		margin-bottom: 66px;
		a{
			i{
				margin-left: 5px;
			}
		}
	}
	p{
		font-size: 12px;
		letter-spacing: 0.1em;
		font-weight: 700;
		text-transform: uppercase;
		span{
			font-weight: bolder;
			color: $black;
		}
	}
	.download-btn{
		.btn{
			font-size: 12px;
			margin-left: 18px;
		}
		.btn-dark{
			padding: 9px 28px;
			&:hover{
				background-color: #f5f5f8;
				color: $black;
				border: 1px solid $black;
			}
			i{
				font-size: 32px;
				display: inline-block;
				margin-left: 0;
				margin-right: 18px;
			}
			span{
				font-size: 12px;
				display: inline-block;
				text-align: left;
				b{
					font-size: 22px;
					line-height: 18px;
				}
			}
		}
	}
}

/*=============================
		Customers
=============================*/
#customers {
	padding: 120px 0;
	i{
		color: #8c8f94;
		font-size: 22px;
	}
	.carousel-indicators {
		position: absolute;
		top: 0;
		bottom: auto;
		width: 100%;
		z-index: 5;
		left: 0;
		margin-left: 0;
		li {
			width: 130px;
			height: 130px;
			border-radius:100%;
			margin: 0;
			border: none;
			opacity: .2;
			transform: scale(0.7);
			-ms-transform: scale(0.7);
			-webkit-transform: scale(0.7);
			transition: all 0.97s cubic-bezier(0.545, 0, 0.05, 1);
			img{
				margin-top: -20px;
				position: relative;
				border-radius: 100%;
				z-index: 22;
				box-shadow: 0px 12px 30px 0px rgba(92, 95, 101, 0.18);
			}
		}
		li.active{
			transform: scale(1);
			-ms-transform: scale(1);
			-webkit-transform: scale(1);
			opacity: 1;
			z-index: 2;
		}
		li:first-child {
			float: left;
			margin-left: 30px;
			img {
				box-shadow: 10px 12px 30px 0px rgba(92, 95, 101, 0.18);
			}
		}
		li:last-child {
			float: right;
			margin-right: 30px;
			img {
				box-shadow: 10px 12px 30px 0px rgba(92, 95, 101, 0.18);
			}
		}
	}

	.item.active{
		background-color: #fff !important;
		box-shadow: 0px 0px 0px 0px;
	}
	.testimonial {
		padding-top: 174px;
		.star-rating {
			color: $gray;
			font-size: 22px;
			margin-top: 17px;
			.gold-star {
				color: #f2bc3b;
			}
		}
		.customer-name {
			margin-top: 56px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #26272d;
		}
	}
	.carousel-control.left, .carousel-control.right{
		background: none;
		width: 41px;
		height: 41px;
		top: 45px;
		line-height: 41px;
		color: $gray;

	}
	.carousel-control.left{
		left: -100px;
	}
	.carousel-control.right{
		right: -100px;
	}
}

@import "responsive.scss";
