@import "lib.scss";


/*=============================
		    Nav
=============================*/
#nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: transparent;
	color: $black;
	padding: 40px 0px;
	transition: all 0.5s ease-in-out;
	z-index: 10;
	#nav-icon{
		color: $black;
		font-size: 14px;
		padding:0px;
		position: absolute;
		top: 42%;
		z-index: 2;
		text-decoration: none;
		cursor: pointer !important;
		transition: $transition-1;
		&:hover, &:focus{
			color: $blue;
		}
	}

	// Side Menu
	#side-menu{
		display: block;
		position: fixed;
		top: 0px;
		left: -380px;
		height: 100%;
		width: 380px;
		max-width: 650px;
		padding: 40px;
		z-index: 50;
		background-color: $black;
		transition: $transition-2;
		#close-side-menu{
			position: absolute;
			color: #ffffff;
			right: 20px;
			top: 52px;
			font-size: 24px;
			text-decoration: none;
		}
		.logo{
			img{
				margin-top: 20px;
			}
		}
		ul{
			margin-top: 40px;
			li{
				display: block;
				margin: 10px 0;
				a{
					text-transform: capitalize;
					text-decoration: none;
					font-size: 16px;
					color: #fff;
					&:hover, &:focus{
						color: $blue;
					}
				}
				.btn-blue{
					&:hover, &:focus{
						color: #fff !important;
						border: 1px solid #fff;
						background-color: transparent;
					}
				}
			}
			li:last-child{
				margin-top: 20px;

			}
		}

		#slide-menu-footer{
			position: absolute;
			display: block;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 20px 40px 25px;
			#more-info{
				p{
					font-size: 14px;
					line-height: 24px;
					color: rgba(255, 255, 255, 0.8);
					margin: 0;
				}
			}
			#socials{
				 margin: 18px 0 0;
				li{
					display: inline-block;
					margin: 0 20px 0 0;
				}
				li:last-child{
					margin-right: 0px;
				}
			}
		}
	}
	.row{
			ul{
				padding: 0px;
				li{
					display: inline-block;
					margin-right: 40px;
					a{
						font-size: 16px;
						font-weight: 600px;
						color: $black;
						text-decoration: none;
						text-transform: capitalize;
						&:hover, &:focus{
							color: $blue;
						}
					}
					.help{
						color: $gray;
					}
					.btn-blue{
						color: #fff;
						i{
							margin-right: 10px;
						}
						&:hover, &:active{
							color: $black;
						}
					}
				}
				li:last-child{
					margin-right: 0px;
				}
			}

			#nav-left{
				float: left;
				margin-left: 60px;
				padding-top: 15px;
			}
			#nav-center{
				padding-top: 15px;
			}
			#nav-right{
				float: right;
				padding-top: 10px;
			}
	}

}


/*=============================
		    Header
=============================*/
#header{
	background-image: url('../images/banner_background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 200px 0px 510px;
	overflow: hidden;
	position: relative;
	h1{
		color: $black;
		font-size: 60px;
		font-family: $varelaFont;
	}
	p{
		color: $gray;
		font-family: $latoFont;
		font-size: 20px;
	}
	.btn-video{
		margin-top: 48px;

	}
	img{
		position: absolute;
		bottom: -310px;
		left: 50%;
		margin-left: -185px;
	}
}

/*=============================
		   Features
=============================*/
#features{
	padding: 120px 0;
	.feature{
		padding: 0 38px;
		.feature-icon{
			margin-bottom: 48px;
			span{
				color: $blue;
				font-size: 42px;
			}
		}
		.feature-description{
			h4{
				font-weight: bold;
			}
			p{
				color: $gray;
			}
		}
	}
}
/*=============================
		Iphone Features
=============================*/
#iphone-feature{
	position: relative;
	padding: 200px 0 300px;
	#iphone-feature-description{
		h2{
			font-family: $varelaFont;
		}
		.button-container{
			margin-top: 62px;
			a{
				margin-right: 20px;
				margin-bottom: 18px;
				i{
					margin-left: 50px;
					font-size: 14px;
				}
			}
		}
	}
	#iphone-showcase{
		position: absolute;
		bottom: 110px;
		right: 50%;
	}
}


/*=============================
		  Map Features
=============================*/
#map-feature{
	padding: 100px 0px 120px;
	position: relative;
	overflow: hidden;
	h2{
		font-family: $varelaFont;

	}
	#partner{
		margin-top: 52px;
		h5{
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 0.1em;
			text-transform: uppercase;
		}
		ul{
			margin-top: 35px;
			li{
				display: inline-block;
				margin-right: 30px;
				margin-bottom: 15px;
			}
			li:last-child{
				margin-right: 0px;
			}
		}
	}
	#map-showcase{
		position: absolute;
		bottom: 110px;
		left: 50%;
	}
}

/*=============================
		Iphone Screens
=============================*/
#iphone-screens{
	background-color: #f5f5f8;
	padding: 140px 0px 80px;
	position: relative;
	overflow: hidden;
	h2{
		margin-bottom: 0px;
		font-family: $varelaFont;
	}
	hr{
		width: 50px;
		height: 2px;
		background-color: $blue;
		margin: 40px auto;
	}
	p{
		font-size: 12px;
		letter-spacing: 0.1em;
		font-weight: 700;
		text-transform: uppercase;
	}
	#images-showcase{
		margin-top: 50px;
		#images-list{
			display: block;
			li{
				display: inline-block;
				margin: 0px 10px;
				img{
					max-width: 100%;
				}
			}
			li:first-child{
				margin-left: -140px;
			}
			li:last-child{
				margin-right: -140px;
			}
			li:nth-child(1), li:nth-child(2), li:nth-child(4), li:nth-child(5){
				box-shadow: $shadow_2;
			}

		}
	}
}

/*=============================
		Ready To Buy
=============================*/
#ready-to-buy{
	padding: 120px 0 130px;
	background-color: #f5f5f8;
	h2{
		font-family: $varelaFont;
	}
	form{
		margin-bottom: 66px;
		a{
			i{
				margin-left: 5px;
			}
		}
	}
	p{
		font-size: 12px;
		letter-spacing: 0.1em;
		font-weight: 700;
		text-transform: uppercase;
		span{
			font-weight: bolder;
			color: $black;
		}
	}
	.download-btn{
		.btn{
			font-size: 12px;
			margin-left: 18px;
		}
		.btn-dark{
			padding: 9px 28px;
			&:hover{
				background-color: #f5f5f8;
				color: $black;
				border: 1px solid $black;
			}
			i{
				font-size: 32px;
				display: inline-block;
				margin-left: 0;
				margin-right: 18px;
			}
			span{
				font-size: 12px;
				display: inline-block;
				text-align: left;
				b{
					font-size: 22px;
					line-height: 18px;
				}
			}
		}
	}
}

/*=============================
		Customers
=============================*/
#customers {
	padding: 120px 0;
	i{
		color: #8c8f94;
		font-size: 22px;
	}
	.carousel-indicators {
		position: absolute;
		top: 0;
		bottom: auto;
		width: 100%;
		z-index: 5;
		left: 0;
		margin-left: 0;
		li {
			width: 130px;
			height: 130px;
			border-radius:100%;
			margin: 0;
			border: none;
			opacity: .2;
			transform: scale(0.7);
			-ms-transform: scale(0.7);
			-webkit-transform: scale(0.7);
			transition: all 0.97s cubic-bezier(0.545, 0, 0.05, 1);
			img{
				margin-top: -20px;
				position: relative;
				border-radius: 100%;
				z-index: 22;
				box-shadow: 0px 12px 30px 0px rgba(92, 95, 101, 0.18);
			}
		}
		li.active{
			transform: scale(1);
			-ms-transform: scale(1);
			-webkit-transform: scale(1);
			opacity: 1;
			z-index: 2;
			margin-top: 20px;
		}
		li:first-child {
			float: left;
			margin-left: 30px;
			img {
				box-shadow: 10px 12px 30px 0px rgba(92, 95, 101, 0.18);
			}
		}
		li:last-child {
			float: right;
			margin-right: 30px;
			img {
				box-shadow: 10px 12px 30px 0px rgba(92, 95, 101, 0.18);
			}
		}
	}

	.item.active{
		background-color: #fff !important;
		box-shadow: 0px 0px 0px 0px;
	}
	.testimonial {
		padding-top: 174px;
		.star-rating {
			color: $gray;
			font-size: 22px;
			margin-top: 17px;
			.gold-star {
				color: #f2bc3b;
			}
		}
		.customer-name {
			margin-top: 56px;
			font-size: 12px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: #26272d;
		}
	}
	.carousel-control.left, .carousel-control.right{
		background: none;
		width: 41px;
		height: 41px;
		top: 45px;
		line-height: 41px;
		color: $gray;
		text-decoration: none;
		font-size: 28px;
	}
	.carousel-control.left{
		left: -200px;
	}
	.carousel-control.right{
		right: -200px;
	}
}

/*=============================
			Plans
=============================*/
#plan{
	padding: 160px 0;
	background-color: #f4f4f5;
	.toggle-container {
		margin-bottom: 70px;
		.switch-toggles {
			position: relative;
			width: 262px;
			height: 50px;
			border: 1px solid $gray !important;
			border-radius: 30px;
			.individual, .company{
				position: relative;
				width: 130px;
				float: left;
				padding: 13px 5px;
				text-align: center;
				z-index: 2;
				cursor: pointer;
				font-size: 16px;
				color: #8c8f94;
				transition: color 0.7s cubic-bezier(0.545, 0, 0.05, 1);

			}
			.company{
				position: absolute;
				right: 0px;
			}
			.individual.active, .company.active{
				color: $black;
			}

			&:after{
				position: absolute;
				content: "";
				width: 122px;
				height: 42px;
				background: #fff;
				left: 3px;
				top: 3px;
				border-radius: 30px !important;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
				box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
				-moz-box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
				-webkit-box-shadow: 2.5px 4.33px 20px 0px rgba(61, 61, 62, 0.059);
				transition: all 0.7s cubic-bezier(0.545, 0, 0.05, 1);
			}
		}
		.switch-toggles.active{
			&:after{
				left: 135px;
				top: 3px;
			}
		}
	}
	.info {
		font-size: 14px;
		margin-top: 24px;
	}
	.price-table {
		position: relative;
		width: 340px;
		max-width: 50%;
		float: left;
		padding: 20px 0;
		.table-inner {
			background-color: #ebebed;
			padding: 40px 15px 50px;
			h3{
				margin: 0 auto 28px;

			}
			.price {
				font-size: 11px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: #26272d;
				padding: 9px 18px;
				border: 1px solid rgba(38, 39, 45, 0.2);
				display: inline-block;
				margin-bottom: 40px;
				border-radius: 30px;
				-moz-border-radius: 30px;
				-webkit-border-radius: 30px;
			}
			.phrase {
				font-size: 20px;
				line-height: 28px;
				margin-bottom: 38px;
			}
			.feature-list{
				li{
					font-size: 16px;
					line-height: 24px;
					color: #26272d;
					margin-bottom: 12px;
					i{
						color: #6fc754;
					}
				}
				li:last-child {
					margin-bottom: 34px;
				}
			}
			.btn{
				width: 210px;
				max-width: 100%;
			}
			.btn-blue{
				background-color: transparent;
				border: 1px solid $blue;
				color: $blue;
				&:hover{
					color: $blue !important;
				}
			}
		}
	}
	.price-table.highlighted {
		z-index: 2;
		padding: 0;
		box-shadow: 15px 25px 50px 0px rgba(92, 95, 101, 0.2);
		.table-inner {
		  background-color: #fff;
		  padding: 60px 15px 70px;
		}
		.btn-blue{
			background-color: $blue;
			color: #fff;
			&:hover{
				color: $blue !important;
				border: 1px solid $blue !important;
				background-color: transparent;
			}
		}
	}
	#price_tables{
		.individual, .company{
			position: relative;
			width: 100%;
			opacity: 0;
			-webkit-transform: scale(0.95);
				  transform: scale(0.95);
			transition: opacity 0.97s, -webkit-transform 0.97s;
			transition: opacity 0.97s, transform 0.97s;
			transition: opacity 0.97s, transform 0.97s, -webkit-transform 0.97s;
			transition-timing-function: cubic-bezier(0.545, 0, 0.05, 1);
			.price-table{
				display: none;
			}
		}
		.individual.active, .company.active{
			opacity: 1;
			transform: scale(1);
			.price-table{
				display: block;
			}
		}
	}
}


/*=============================
		   subscripe
=============================*/
#subscribe{
	padding: 90px 0px 50px;
	.btn{
		padding-left: 34px;
		padding-right: 34px;
	}
	.btn-green{
		&:hover, &:focus{
			background-color: $green;
			border: 1px solid transparent;
			color: #fff!important;
		}
	}
	p{
		font-size: 14px;
		margin-top: 10px;
		margin-bottom: 0px;
	}
}
/*=============================
		   Footer
=============================*/
#footer{
	color: $gray;
	font-size: 16px;
	.footer-container{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.copyright-container{
		padding-top: 20px;
		padding-bottom: 25px;
	}
	.logo{
		margin-bottom: 36px;
	}
	p{
		font-size: 14px;
		line-height: 24px;
	}
	.app_download{
		img{
			margin-top: 6px;
		}
	}
	ul{
		li{
			.title{
				font-weight: 800;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				color: $black;
				font-size: 12px;
			}
			a{
				color: $gray;
				text-decoration: none;
				line-height: 36px;
				&:hover{
					color: $blue;
				}
			}
		}
	}
	.socials{
		margin-top: 20px;
		li{
			display: inline-block;
			font-size: 20px;
			margin-right: 20px;
			a{
				color: $gray;
				transition: $transition-1;
				&:hover{
					color: $black;
				}
			}
		}
		li:last-child{
			margin-right: 0px;
		}
	}
	.more-info{
		line-height: 24px;
		font-size: 14px;
	}
	.made-by{
		font-size: 9px;
		font-weight: 700;
		line-height: 22px;
		color: $black;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		a{
			img{
				margin-top: -8px;
				margin-left: 8px;
			}
		}
	}
}





@import "responsive.scss";
