extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src="public/images/1.jpg")
      h2.title.title--single
        a(href='store.html') Zara

  .single__details.inner
    img.single__map(src="https://maps.googleapis.com/maps/api/staticmap?center=43.2618072,-79.8669744&zoom=14&size=800x150&key=AIzaSyD9ycobB5RiavbXpJBo0Muz2komaqqvGv0&markers=43.2618072,-79.8669744&scale=2")
    p.single__location Mulberry Street Coffeehouse, James Street North, Hamilton, ON, Canada
    br
    p.single__descrip Chill cafe in the former lobby of an 1880s hotel serving coffee, sweets & panini, plus cocktails.

    - const tags = ["Open late", "wifi", "free coffee", "family frindly", "sale", "clothes"]
    ul.tags
      each tag in tags
        li.tag
          a.tag__link(href='tags.html')
            span.tag__text  #{tag}

    +reviewForm(store)

    .reviews
      .review
        +review(review)
