.pagination {
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    -webkit-box-shadow: $shad;
            box-shadow: $shad;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    &__prev, &__text, &__next{
        -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
                flex: 0 0 auto;
        text-align: center;
        padding: 3rem;
    }
    &__prev{
        a:before {
            content: "←";
            margin-right: 5px;
        }
    }
    &__text{
        -webkit-box-flex: 3;
            -ms-flex: 3 0 auto;
                flex: 3 0 auto;
    }
    &__next{
        a:after{
            content:"→";
            margin-left: 5px;
        }
    }
}