mixin pagination(page, pages, count)
    .pagination
        .pagination__prev
            a(href="#") Prev
        .pagination__text
            p Page #{page} of #{pages} - #{count} Total Pages
        .pagination__next
            a(href="#") Next