mixin storeForm(store = {})
	form.form(action="editStore.html" method="POST" enctype="multipart/form-data")
		label(for="name") Name
		input(type="text" name="name" value="")
		label(for="description") Description
		textarea(name="description")
		//- Image Upload
		label(for="photo") Photo
		input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
		//- if store.photo //- uncomment for backend
		//- 	img(src="", alt=store.name width=200)
		//- address, lng and lat
		label(for="address") Address
		input(type="text" id="address" name="" value="")
		label(for="lng") Address Lng
		input(type="text" id="lng" name="" value="" required)
		label(for="lat") Address Lat
		input(type="text" id="lat" name="" value="" required)
		- const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
		ul.tags
			each choice in choices
				.tag.tag__choice
					input#choice(type="checkbox" value="" name="tags" checked=false)
					label(for=choice) #{choice}
		input(type="submit" value="Save →" class="button")
