@media only screen and (max-width: 992px) {
  /*** Nav ***/
  #nav .col-md-4:first-child,
  #nav .col-md-4:last-child {
    display: none;
  }
  #nav .logo {
    padding-top: 0px;
  }
  #nav #slide_out_menu {
    position: fixed;
    display: block;
    width: 300px;
    height: 100%;
    left: -300px;
  }
  #nav #slide_out_menu .menu-close {
    top: 41px;
  }

  /*** Features ***/
  #features {
    padding: 100px 0;
  }
  #features .feature-item {
    margin-bottom: 80px;
  }
  #features .feature-item:last-child {
    margin-bottom: 0;
  }
  #features .feature {
    padding: 0px 0px;
  }
  #features .feature .feature-icon {
    margin-bottom: 48px;
  }
  #features .feature .feature-icon i {
    font-size: 42px;
    color: #267df4;
  }

  /*** iPhone Feature ***/
  #iphone-feature {
    padding: 80px 0 60px;
  }
  #iphone-feature #iphone-showcase {
    position: relative;
    bottom: auto;
    right: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  #iphone-feature #iphone-showcase img {
    width: 100%;
  }

  /*** Map Feature ***/
  #map-feature {
    padding: 80px 0 100px;
  }
  #map-feature #map-showcase {
    position: relative;
    bottom: auto;
    left: auto;
    padding: 0 15px;
    margin-top: 64px;
  }
  #map-feature #map-showcase img {
    width: 100%;
  }

  /*** iPhone Screens ***/
  #iphone-screens {
    padding: 120px 0 80px;
  }
  #iphone-screens #images-showcase #images-list {
    display: block;
  }
  #iphone-screens #images-showcase #images-list li {
    width: 240px;
    display: inline-block;
    margin: 0px 5px;
  }
  #iphone-screens #images-showcase #images-list li img {
    max-width: 100%;
  }
  #iphone-screens #images-showcase #images-list li .main-img {
    width: 295px;
  }

  /*** Customers ***/
  #customers .carousel-control.left, #customers .carousel-control.right {
    display: none;
  }

  /*** Plan ***/
  #plan {
    padding: 120px 0 150px;
  }
  #plan #price_tables .individual.active, #plan #price_tables .company.active {
    margin-top: 80px;
  }
  #plan .toggle-container .switch-toggles .individual, #plan .toggle-container .switch-toggles .company {
    margin-top: 0px;
  }

  /*** Footer ***/
  #footer .socials {
    margin-bottom: 60px;
  }
  #footer .footer-links {
    margin-bottom: 30px;
  }
  #footer .footer-links:last-child {
    margin-bottom: 0;
  }
  #footer .copyright-container .text-right {
    text-align: left;
    margin-top: 22px;
  }
}
@media only screen and (max-width: 768px) {
  /*** iPhone Screens ***/
  #iphone-screens {
    padding: 120px 0 80px;
  }
  #iphone-screens #images-showcase #images-list {
    display: block;
  }
  #iphone-screens #images-showcase #images-list li {
    width: 180px;
    display: inline-block;
    margin: 0px 10px;
  }
  #iphone-screens #images-showcase #images-list li img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 575px) {
  input[type="text"],
  input[type="email"] {
    padding: 16px 26px;
  }

  /*** Header ***/
  #header {
    padding: 160px 0 460px;
  }
  #header .header_iphone {
    bottom: -220px;
    margin-left: -140px;
    width: 280px;
  }

  /*** iPhone Screens ***/
  #iphone-screens {
    padding: 120px 0 80px;
  }
  #iphone-screens #images-showcase #images-list {
    display: block;
    margin: 0 auto;
  }
  #iphone-screens #images-showcase #images-list li {
    width: 160px;
    display: inline-block;
    margin: 0px 2px;
  }
  #iphone-screens #images-showcase #images-list li img {
    max-width: 100%;
  }
  #iphone-screens #images-showcase #images-list li:first-child, #iphone-screens #images-showcase #images-list li:last-child {
    display: none;
  }

  /*** Ready to Buy  ***/
  #ready-to-buy .form-group .btn,
  #subscribe .form-group .btn {
    position: relative;
    margin-top: 14px;
  }

  /*** Customers ***/
  #customers {
    padding: 120px 0;
  }
  #customers .carousel-indicators li {
    width: 90px;
    height: 90px;
  }

  /*** Plan ***/
  #plan {
    padding: 120px 0 100px;
  }
  #plan .price-table {
    width: 340px;
    max-width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
    float: none;
  }

  /*** Footer ***/
  #footer .footer-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #footer .footer-links {
    width: 100%;
  }
}
