@font-face {
	font-family: 'icomoon';
	src: url('../../fonts/icomoon.eot?cfozhv');
	src: url('../../fonts/icomoon.eot?cfozhv#iefix') format('embedded-opentype'), 
	url('../../fonts/icomoon.ttf?cfozhv') format('truetype'), 
	url('../../fonts/icomoon.woff?cfozhv') format('woff'), 
	url('../../fonts/icomoon.svg?cfozhv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play-button:before {
	content: "\e955";
	color: #fff;
}

.icon-product-2:before {
	content: "\e956";
	color: #fff;
}

.icon-product-4:before {
	content: "\e957";
	color: #fff;
}

.icon-product-3 .path1:before {
	content: "\e958";
	color: rgb(0, 0, 0);
}

.icon-product-3 .path2:before {
	content: "\e959";
	margin-left: -1.638671875em;
	color: rgb(51, 51, 51);
}

.icon-product-3 .path3:before {
	content: "\e95a";
	margin-left: -1.638671875em;
	color: rgb(109, 109, 109);
}

.icon-product-3 .path4:before {
	content: "\e95b";
	margin-left: -1.638671875em;
	color: rgb(199, 199, 199);
}

.icon-product-3 .path5:before {
	content: "\e95c";
	margin-left: -1.638671875em;
	color: rgb(255, 255, 255);
}

.icon-product-1:before {
	content: "\e95d";
	color: #fff;
}

.icon-bar-chart:before {
	content: "\e901";
	color: #fff;
}

.icon-browser:before {
	content: "\e902";
	color: #fff;
}

.icon-choices:before {
	content: "\e903";
	color: #fff;
}

.icon-correct:before {
	content: "\e904";
	color: #fff;
}

.icon-development:before {
	content: "\e905";
	color: #fff;
}

.icon-folder:before {
	content: "\e906";
	color: #fff;
}

.icon-building .path1:before {
	content: "\e907";
	color: rgb(0, 173, 238);
}

.icon-building .path2:before {
	content: "\e908";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path3:before {
	content: "\e909";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path4:before {
	content: "\e90a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path5:before {
	content: "\e90b";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path6:before {
	content: "\e90c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path7:before {
	content: "\e90d";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path8:before {
	content: "\e90e";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path9:before {
	content: "\e90f";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path10:before {
	content: "\e910";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path11:before {
	content: "\e911";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path12:before {
	content: "\e912";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path13:before {
	content: "\e913";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path14:before {
	content: "\e914";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path15:before {
	content: "\e915";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path16:before {
	content: "\e916";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path17:before {
	content: "\e917";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path18:before {
	content: "\e918";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path19:before {
	content: "\e919";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path20:before {
	content: "\e91a";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path21:before {
	content: "\e91b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path22:before {
	content: "\e91c";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path23:before {
	content: "\e91d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path24:before {
	content: "\e91e";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path25:before {
	content: "\e91f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path26:before {
	content: "\e920";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path27:before {
	content: "\e921";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path28:before {
	content: "\e922";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path29:before {
	content: "\e923";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path30:before {
	content: "\e924";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path31:before {
	content: "\e925";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path32:before {
	content: "\e926";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path33:before {
	content: "\e927";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path34:before {
	content: "\e928";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-building .path35:before {
	content: "\e929";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path36:before {
	content: "\e92a";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-building .path37:before {
	content: "\e92b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-pen .path1:before {
	content: "\e92c";
	color: rgb(0, 0, 0);
}

.icon-pen .path2:before {
	content: "\e92d";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-pen .path3:before {
	content: "\e92e";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-pen .path4:before {
	content: "\e92f";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-pen .path5:before {
	content: "\e930";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-pen .path6:before {
	content: "\e931";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-pen .path7:before {
	content: "\e932";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-pen .path8:before {
	content: "\e933";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-application:before {
	content: "\e934";
	color: #fff;
}

.icon-web-app:before {
	content: "\e935";
	color: #fff;
}

.icon-mobile:before {
	content: "\e936";
	color: #fff;
}

.icon-data:before {
	content: "\e937";
	color: #fff;
}

.icon-house .path1:before {
	content: "\e938";
	color: rgb(0, 173, 238);
}

.icon-house .path2:before {
	content: "\e939";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path3:before {
	content: "\e93a";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-house .path4:before {
	content: "\e93b";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path5:before {
	content: "\e93c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path6:before {
	content: "\e93d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path7:before {
	content: "\e93e";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-house .path8:before {
	content: "\e93f";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-house .path9:before {
	content: "\e940";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-house .path10:before {
	content: "\e941";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path11:before {
	content: "\e942";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-house .path12:before {
	content: "\e943";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-house .path13:before {
	content: "\e944";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path14:before {
	content: "\e945";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-house .path15:before {
	content: "\e946";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-signal .path1:before {
	content: "\e947";
	color: rgb(0, 173, 238);
}

.icon-signal .path2:before {
	content: "\e948";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-signal .path3:before {
	content: "\e949";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-signal .path4:before {
	content: "\e94a";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-signal .path5:before {
	content: "\e94b";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-signal .path6:before {
	content: "\e94c";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-signal .path7:before {
	content: "\e94d";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.icon-signal .path8:before {
	content: "\e94e";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-signal .path9:before {
	content: "\e94f";
	margin-left: -1em;
	color: rgb(0, 173, 238);
}

.icon-menu:before {
	content: "\e950";
}

.icon-line-chart:before {
	content: "\e951";
	color: #fff;
}

.icon-magnifying:before {
	content: "\e952";
	color: #fff;
}

.icon-play:before {
	content: "\e953";
	color: #fff;
}

.icon-stopwatch:before {
	content: "\e954";
	color: #fff;
}

.icon-programmer:before {
	content: "\e900";
	color: #fff;
}
