.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	z-index: 6; // position: absolute;
	width: 100%;
	top: 0px;
	left: 0;
	&-icon,
	&-search-icon {
		cursor: pointer;
		color: $white;
	}
	&-icon {
		font-size: 3rem;
	}
	&-search-icon {
		font-size: 2rem;
	}
	&-form {
		display: none;
		flex-direction: row; // width: 100%;
		position: relative; // right: -300px;
		// opacity: 0;
		transition: all 0.5s ease-in-out;
		&-clear {
			margin-right: 1rem;
			span {
				cursor: pointer;
				color: $white;
				font-size: 2rem;
			}
		}
		input {
			outline: none !important;
			box-shadow: 0 0 0 !important;
			color: $white !important;
			width: 20rem !important;
			border-top-left-radius: 20px !important;
			border-bottom-left-radius: 20px !important;
			&::-moz-placeholder {
				color: $white;
				font-weight: lighter;
			}
			&::placeholder {
				color: $white;
				font-weight: lighter;
			}
			@include media-breakpoint-down(sm) {
				width: 100px !important;
			}
		}
		input,
		span {
			border-color: $white !important;
		}
		span {
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			color: $white;
		}
		@include media-breakpoint-down(sm) {
			.input-group {
				max-width: 140px;
			}
		}
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	background-color: $blue;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	transition: all 0.5s ease-in-out;
	z-index: 10000;
	visibility: visible;
	overflow-x: hidden;
	overflow-y: scroll; // @include media-breakpoint-down(sm){
	// }
	&.hidden {
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	&-menu {
		height: 100%;
		&-close {
			position: absolute;
			top: 5rem;
			right: 5rem;
			z-index: 4;
			color: $white;
			cursor: pointer;
			font-size: 3.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			@include media-breakpoint-down(md) {
				top: 25px;
				right: 25px;
				font-size: 2.4rem;
			}
		}
		&-side {
			display: flex;
			align-items: center;
			justify-content: center;
			@include media-breakpoint-down(sm) {
				min-height: 30vh;
				height: 50vh;
			}

			@media screen and (max-height: 600px) {
				height: 100vh;
				max-height: 300px;
				min-height: 300px;
				// flex-direction: row;
				// width: 100%;
				// &-list {
				// 	li {
				// 		width: initial;
				// 	}
				// }
			}
			&-list {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: space-around;
				list-style: none;
				li {
					width: 100%;
					@include media-breakpoint-down(md) {
						text-align: center;
					}
					a {
						color: $white;
						font-family: $font-oswald;
						font-weight: lighter;
						text-transform: uppercase;
						font-size: 2.7rem; // position: relative;
						&:hover {
							text-decoration: none; // &::after{
							// 	left: 0px;
							// 	opacity: 1;
							// }
						} // &::after{
						// 	content: '';
						// 	height: 2px;
						// 	width: 7rem;
						// 	background: $white;
						// 	position: absolute;
						// 	bottom: 40%;
						// 	left: -50px;
						// 	opacity: 0;
						// 	transition: all 0.5s ease-in-out;
						// }
						@include media-breakpoint-down(md) {
							font-size: 2rem;
						}
					}
					&:not(:last-of-type) {
						margin-bottom: 1.25rem;
						@include media-breakpoint-down(md) {
							margin-bottom: 1.1rem;
						}
					}
				}
			}
			
		}
		&-products {
			&-single {
				width: 100%;
				position: relative;
				overflow: hidden;
				display: flex;
				align-items: center;
				justify-content: center;
				max-height: 50vh;
				height: 50vh;
				@media screen and (max-height: 600px) {
					height: 350px;
					max-height: 100vh;
				}
				@include media-breakpoint-down(md){
					height: 40vh;
				}
				.product {
					&-name {
						font-family: $font-roboto;
						font-size: 2.9rem;
						font-weight: bold;
						text-align: center;
						line-height: 3.4rem;
						text-transform: capitalize;
						color: $white;
						cursor: pointer;
						@include media-breakpoint-down(sm) {
							font-size: 2.4rem;
						}
					}
					&-content {
						color: $white;
						height: 100%;
						width: 100%;
						padding: 3rem;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						justify-content: flex-start;
						&-list {
							li {
								cursor: pointer;
								list-style: none;
								font-family: $font-roboto;
								font-weight: bold;
								font-size: 2rem;
								line-height: 2.4rem;
								text-align: left;
								color: $white;
								text-transform: capitalize;
								&:not(:last-child) {
									margin-bottom: 2.5rem;
								}
								@include media-breakpoint-down(sm) {
									font-size: 1.8rem;
								}
							}
						}
						&-single {
							color: $white;
							height: 100%;
							width: 100%;
							padding: 3rem;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: flex-start;
							&-name {
								font-family: $font-roboto;
								font-weight: bold;
								font-size: 2rem;
								text-align: left;
								line-height: 2.4rem;
								text-transform: capitalize;
								margin-bottom: 1.9rem;
							}
							&-items {
								width: 100%;
								max-height: 170px;
								height: 100%;
								display: flex;
								flex-direction: column;
								flex-wrap: wrap;
								align-items: flex-start;
								justify-content: flex-start;
								li {
									list-style: none; // flex: 1;
									width: 50%;
									white-space: pre-line;
									margin-bottom: 1.5rem;
									a {
										font-family: $font-oswald;
										font-weight: 200;
										line-height: 1.5rem;
										font-size: 2rem;
										text-transform: capitalize;
										color: $white;
									}
								}
							}
						}
					}
					&-back,
					&-back-2 {
						color: $white;
						font-family: $font-roboto;
						font-weight: 200;
						text-transform: capitalize;
						font-size: 2rem;
						text-align: right;
						margin-bottom: 3rem;
						cursor: pointer;
						span {
							font-size: 2rem;
							margin-right: 0.7rem;
						}
						@include media-breakpoint-down(sm) {
							font-size: 1.8rem;
						}
					}
				}
				&:nth-child(1) {
					background-color: #143F64;
				}
				&:nth-child(2) {
					background-color: #4EA55C;
				}
				&:nth-child(3) {
					background-color: #333333;
				}
				&:nth-child(4) {
					background-color: #19222C;
				}
				@include media-breakpoint-down(md) {
					min-height: 10vh;
				}
			}
		}
	}
}