@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*=============================
            Color
=============================*/
$white: #fff;
$black: #222222;
$gray: #717171;
$lightGray: #f4f4f4;
$background-gradient: linear-gradient(90deg, #fd3fb3, #fd3e4f);
$transition-1: all 0.75s ease-in-out;
$transition-2: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
$shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
$shadow_2: 8px 8px 20px 5px rgba(61, 61, 62, 0.1);

/*=============================
            Fonts
=============================*/
$popFont: 'Poppins', sans-serif;

/*=============================
            Buttons
=============================*/
.btn{
    padding: 15px;
    color: $white;
    font-weight: bold;
    font-family: $popFont;
    font-size: 20px;
    width: 185px;
    height: 60px;
    text-transform: capitalize;
}
.btn-round{
    background: transparent;
    border-radius: 50px;
    border: 2px solid $white;
}
.btn-cubic{
    background: $background-gradient !important;
    border-radius: 0px;
    border: 0px;
}
/*=============================
        Reset Styles
=============================*/
*{
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}
body{
  font-family: $popFont;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

p {
  font-size: 18px;
  line-height: 2;
}

a {
  text-decoration: none;
  outline: 0;
  &:focus, &:hover {
    outline: none !important;
    text-decoration: none;

  }
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

.header-active{
    a{
        &:hover, &:active, &:focus{
            color: #000 !important;
        }
    }
    background: $background-gradient !important;
    padding: 20px 0px !important;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
    transition: $transition-1;
}

.section-head{
    font-size: 40px;
    font-family: $popFont;
    font-weight: bold;
    text-transform: capitalize;
    padding: 15px 0px;
    margin: 15px 0px;
}
.left-align{
    text-align: left;
}
.right-align{
    text-align: right;
}
.center-align{
    text-align: center;
}
.open{
	left: 0px !important;
}


/*=============================
          Animations
=============================*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: fade-in-bottom 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.fade-in-right {
	-webkit-animation: fade-in-right 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
	        animation: fade-in-right 0.6s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
