
/* Extra Small Screen - Smart Phones and Tablets */
@media (max-width:767px) {

    .sidebar-icon{
        display: block !important;
    }
    .navbar-links, .right-align{
        display: none;
    }
    .section-head{
        padding: 15px 50px;
    }


    #header{
        h4{
            margin-top: 100px;
            font-size: 22px;
        }
        h1{
            font-size: 36px;
            line-height: 48px;
        }
    }

    #about{
        p{
            font-size: 22px;
            margin: 15px 0px;
            padding: 0px 50px;
        }
        button{
            margin-right: 50px;
        }
    }
    #team{
        padding: 80px 0px;
        .item{
            width: 80%;
            margin: 50px auto;
            .btn07{
                .buttons{
                    p{
                        line-height: 20px !important;
                    }
                }
            }
        }
    }

    #cta1{
        padding: 80px 0px;
        #device-feature-description{
            h2{
                font-size: 34px;
                margin-bottom: 40px;
            }
            p{

                margin-bottom: 40px;

            }
        }
        #device-showcase{
            display: none;
        }
    }

    #cta2{
        padding: 150px 0px;
        #websites-feature-description{
            h2{
                font-size: 34px;
                margin-bottom: 40px;
            }
            p{

                margin-bottom: 40px;

            }
        }
        #websites-showcase{
            display: none;
        }
    }

    #services{
        padding: 80px 0px;
        #services-feature-description{
            h2{
                font-size: 36px;
            }
            p{
                font-size: 16px;
            }
        }
        .service{
            margin-top: 50px;
        }
    }


}


/* Small Screen */
@media (min-width:768px) and (max-width: 991px) {

    .sidebar-icon{
        display: block !important;
    }
    .navbar-links, .right-align{
        display: none;
    }
    .section-head{
        padding: 15px 50px;
    }


    #header{
        h4{
            margin-top: 100px;
            font-size: 22px;
        }
        h1{
            font-size: 36px;
            line-height: 48px;

        }
    }

    #about{
        p{
            font-size: 22px;
            margin: 15px 0px;
            padding: 0px 50px;
        }
        button{
            margin-right: 50px;
        }
    }
    #team{
        padding: 80px 0px;
        .item{
            width: 80%;
            margin: 50px auto;
            .btn07{
                .buttons{
                    p{
                        line-height: 20px !important;
                    }
                }
            }
        }
    }

    #cta1{
        padding: 80px 0px;
        #device-feature-description{
            h2{
                font-size: 34px;
                margin-bottom: 40px;
            }
            p{

                margin-bottom: 40px;

            }
        }
        #device-showcase{
            display: none;
        }
    }

    #cta2{
        padding: 150px 0px;
        #websites-feature-description{
            h2{
                font-size: 34px;
                margin-bottom: 40px;
            }
            p{

                margin-bottom: 40px;

            }
        }
        #websites-showcase{
            display: none;
        }
    }

    #services{
        padding: 80px 0px;
        #services-feature-description{
            h2{
                font-size: 36px;
            }
            p{
                font-size: 16px;
            }
        }
        .service{
            margin-top: 50px;
        }
    }




}


/* Medium Screen */
@media (min-width:992px) and (max-width: 1199px) {

    .sidebar-icon{
        display: block !important;
    }
    .navbar-links, .right-align{
        display: none;
    }
    .section-head{
        padding: 15px 50px;
    }

    #header{
        h4{
            margin-top: 80px;
            font-size: 22px;
        }
        h1{
            font-size: 44px;
        }
    }

    #about{
        p{
            font-size: 25px;
            margin: 15px 0px;
            padding: 0px 50px;
        }
        button{
            margin-right: 50px;
        }
    }

    #team{
        padding: 80px 0px;
        .item{
            .btn07{
                .buttons{
                    p{
                        line-height: 20px !important;
                    }
                }
            }
        }
    }

    #cta1{
        padding: 80px 0px;
        #device-feature-description{
            h2{
                font-size: 34px;
                margin-bottom: 40px;
            }
            p{

                margin-bottom: 40px;

            }
        }
        #device-showcase{
            position: absolute;
            bottom: 80px;
            left: -175px;
            width: 740px;
            height: 500px;
        }
    }

    #cta2{
        padding: 150px 0px;
        #websites-feature-description{
            h2{
                font-size: 34px;
                margin-bottom: 40px;
            }
            p{

                margin-bottom: 40px;

            }
        }
        #websites-showcase{
            .website{
                position: absolute;
                right: 0;
                bottom: 0;
                border-radius: 10px;
            }
            .website:first-child{
                right: 310px;

            }
            .website:nth-child(2){
                right: -40px;
            }
            .website:nth-child(3){
                right: -160px;
            }
            .website:nth-child(4){
                right: 40px;
                bottom: 150px;

            }
            .website:nth-child(5){
                right: -40px;
                bottom: 60px;
                z-index: 1;
            }
        }
    }

}


/* Large Screen */
@media (min-width:1200px) {


    .process-active{
        background: linear-gradient(210deg, #fd3f81, #fd3e4f) !important;
        padding: 33px 40px !important;
        .process-number{
            position: relative !important;
            top: 0 !important;
            left: 0px !important;
            font-size: 60px !important;
            font-weight: bolder !important;
            padding: 0px 0px !important;
            margin: 0px !important;
            color: $white !important;
            background: transparent !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: $white !important;
            opacity: 1 !important;
        }
        h3{
            color: $white !important;
            line-height: 35pt !important;
            letter-spacing: -1pt !important;
            font-size: 20px !important;
            font-weight: bold !important;
            text-transform: capitalize !important;
            margin: 0px 0px 20px 0px !important;
        }
        p{
            color: $white !important;
            font-size: 14px !important;
        }
    }


}
