
include partials/header.pug

section#about-us-big-hero
    .container
        include mixins/_big-hero-section.pug
        +big-hero-section('contact us', 'contact.html', 'contact')


include partials/footer.pug