
include partials/header.pug

section#bg-hero-sec.align-center
    .container
        #main-header.row.col-md-6.col-md-offset-3
            h6 we’re
            h1.big-borderd-title creative agency
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        #sec-section.row.align-left
            img.col-md-5(src='assets/images/image-1.jpg', alt='image')
            .col-md-6.col-md-offset-1
                span.main-header.h3 HISTORY OF AGENCY
                p
                    | Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                    | incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                    | exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt
                    | ut labore.
                button.main-btn.hvr-btn-down.hvr-btn-main.float-right 
                    a(href="#") read more   
section#why-choose-us-sec
    .container
        .row.section-title
            span.main-header.h3 HISTORY OF AGENCY
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .row
            #features.align-left.col-md-6
                include mixins/_feature.pug
                +feature('ion-ios-infinite-outline', 'unlimited options', ['Branding', 'Design & Copywriting', 'Concept development', 'User Experince'])
                +feature('ion-ios-shuffle', 'DESIGN & DEVELOPMENT', ['Information architecture', 'Interface design', 'Product Design', 'Integrated ad Companies'])
                +feature('ion-ios-cart-outline', 'e-commerce', ['Prototyping', 'Technical Consulting', 'Web applications', 'Quality testing'])
                +feature('ion-ios-settings', 'Customizable design', ['Information archticture', 'interface design', 'product design', 'integrated and company'])
                
            img.img-responsive.col-md-5.col-md-offset-1(src='assets/images/image-2.jpg', alt='image')
include partials/portfolio.pug

include partials/newsletter.pug

include partials/footer.pug

