doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title AKAD. | Creative Degital Agency HTML5 Template
        link(rel="icon" href="assets/images/favicon.ico" type="image/x-icon")
        //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        //- all custom styles and libs are concatenated in this custom file
        link(rel='stylesheet', href='assets/build/min/styles.min.css')
    body
        include partials/header.pug
        
        section#bg-hero-sec.align-center
            .container
                #main-header.row.col-md-6.col-md-offset-3
                    h6 we’re
                    h1.big-borderd-title creative agency
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                #sec-section.row.align-left
                    img.col-md-5.img-responsive(src='assets/images/image-1.jpg', alt='image')
                    .col-md-6.col-md-offset-1
                        span.main-header.h3 HISTORY OF AGENCY
                        p
                            | Porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                            | incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                            | exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi modi tempora incidunt
                            | ut labore.
                        button.main-btn.hvr-btn-down.hvr-btn-main.float-right read more
        section#why-choose-us-sec
            .container
                .row.section-title
                    span.main-header.h3 HISTORY OF AGENCY
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .row
                    #features.align-left.col-md-6
                        include mixins/_feature.pug
                        +feature('ion-ios-infinite-outline', 'unlimited options', ['Branding', 'Design & Copywriting', 'Concept development', 'User Experince'])
                        +feature('ion-ios-shuffle', 'DESIGN & DEVELOPMENT', ['Information architecture', 'Interface design', 'Product Design', 'Integrated ad Companies'])
                        +feature('ion-ios-cart-outline', 'e-commerce', ['Prototyping', 'Technical Consulting', 'Web applications', 'Quality testing'])
                        +feature('ion-ios-settings', 'Customizable design', ['Information archticture', 'interface design', 'product design', 'integrated and company'])
                        
                    img.img-responsive.col-md-5.col-md-offset-1(src='assets/images/image-2.jpg', alt='image')
        section#portfolio
            .container
                .row.section-title.align-center
                    span.main-header.h3 our portfolio
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        | et dolore magna aliqua.
                .row
                    .col-md-3
                        span.main-header.h3 choose category
                        nav.categories
                            ul.portfolio_filter
                                li
                                    a.p.active-portfolio(href='#', data-filter='*') all
                                li
                                    a.p(href='#', data-filter='.photography') photography
                                li
                                    a.p(href='#', data-filter='.web') webdesign
                                li
                                    a.p(href='#', data-filter='.logo') logo
                                li
                                    a.p(href='#', data-filter='.graphics') graphics
                                li
                                    a.p(href='#', data-filter='.ads') advertising
                                li
                                    a.p(href='#', data-filter='.fashion') fashion
                    .col-md-9
                        .row.portfolio_container
                            include mixins/_portfolio-item.pug
                            +portfolio_item('photography','assets/images/portfolio-1.jpg','Iron Man','Photograpy')
                            +portfolio_item('fashio logo','assets/images/portfolio-2.jpg','Spider Man','Fashion')
                            +portfolio_item('ads graphics','assets/images/portfolio-3.jpg','X Man','Graphics')
                            +portfolio_item('fashion ads','assets/images/portfolio-4.jpg','Super Man','Ads')
                            +portfolio_item('graphics ads','assets/images/portfolio-5.jpg','Spider Man','Ads')
                            +portfolio_item('logo web photography','assets/images/portfolio-6.jpg','Cat Woman','Web')
                            +portfolio_item('ads graphics','assets/images/portfolio-7.jpg','Bat Man','Graphics')
                            +portfolio_item('web fashion graphics','assets/images/portfolio-8.jpg','Joker','web')
                            +portfolio_item('fashion logo','assets/images/portfolio-9.jpg','Iron Man','Logo')

        //- all javascripts code and libs concatenated in this custom file
        script(src='assets/build/scripts.js', type='text/javascript')
