
include partials/header.pug

section#about-us-big-hero
    .container
        include mixins/_big-hero-section.pug
        +big-hero-section('our work', 'portfolio-1.html', 'portfolio')

include partials/portfolio.pug

include partials/newsletter.pug

include partials/footer.pug

