
include partials/header.pug

section#about-us-big-hero
    .container
        include mixins/_big-hero-section.pug
        +big-hero-section('project title', 'single-project-2.html', 'single project 2')


include partials/footer.pug