<!DOCTYPE html>
html(lang="en")
	include partials/header
	body
		.preloader.d-flex
			.preloader-container
				img.preloader-image(src="./images/Preloader.gif" title="preloader image")

		block content
		
		include partials/footer