<!DOCTYPE html>
//- html(lang="ar" dir="rtl")
html(lang="en" dir="ltr")
	include partials/header
	body
		.preloader.d-flex
			.preloader-container
				img.preloader-image(src="./images/Preloader.gif" title="preloader image")
		block content
		
		include partials/footer