@import "lib.scss";

/*=============================
            NavBar
=============================*/
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    padding: 50px 0px;
    z-index: 10;
    background: transparent;
    transition: $transition-1;
    .logo{
        width: 105px;
        height: 45px;
        padding-left: 30px;
    }
    .navbar-links, .social-links{
        padding-top: 10px;
        text-transform: capitalize;
        ul{
            display: block;
            li{
                display: inline-block;
                margin-right: 25px;
                a{
                    text-decoration: none;
                    color: $white;
                    font-size: 16px;
                    font-weight: bold;
                    transition: $transition-1;
                    &:hover, &:focus, &:active{
                        color: #fd3e4f;
                    }
                }
            }
            li:last-child{
                margin-left: 0px;
            }
        }
    }
    .navbar-links{
        text-align: center;
    }
    .social-links{
        text-align: right;

    }

    .sidebar-icon{
        position: absolute;
        right: 50px;
        top: 40%;
        display: none;
        span{
            color: $white !important;
            font-size: 22px;
        }
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        background: $background-gradient;
        z-index: 20;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: $transition-2;
        .navbar-close-icon{
            position: absolute;
            top: 50px;
            right: 50px;
            color: $white;
            font-size: 26px;
            font-weight: bolder;
            cursor: pointer;
        }
        .sidebar-menu-items{
            text-align: center;
            li{
                a{
                    color: $white;
                    font-size: 40px;
                    text-transform: capitalize;
                    transition: $transition-1;
                    &:hover{
                        color: $black;
                    }
                }
            }
        }
    }
}

/*=============================
            Header
=============================*/

#header{
    background: url('../images/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $white;
    h4{
        margin-top: 50px;
        font-size: 25px;
        font-weight: 400;
    }
    h1{
        font-size: 50px;
        font-weight: bolder;
        letter-spacing: -3px;
        margin-bottom: 70px;
    }

}

/*=============================
            About
=============================*/
#about{
    background: $background-gradient;
    padding: 80px 0px;
    color: $white;
    p{
        font-family: $popFont;
        font-size: 35px;
        font-weight: lighter;
        line-height: 35pt;
        letter-spacing: -1pt;
        margin: 15px 0px;
    }
    button{
        position: relative;
        padding-left: 0px;
        padding-right: 30px;
        span{
            position: absolute;
            right: 25px;
            top: 18px;
            font-weight: bolder;
            transition: $transition-1;
        }
        &:hover{
            span{
                right: 10px;
            }
        }
    }
}


/*=============================
            Process
=============================*/
#processes{
    padding: 0px;
    background: $white;
    .process{
        position: relative;
        padding: 60px 40px;
        background: $white;
        font-family: $popFont;
        h3{
            color: $black;
            line-height: 35pt;
            letter-spacing: -1pt;
            font-size: 20px;
            font-weight: bold;
            text-transform: capitalize;
            margin: 0px 0px 20px 0px;
        }
        p{
            color: $black;
            font-size: 14px;
        }
        .process-number{
            position: absolute;
            top: 15%;
            left: 30px;
            font-size: 120px;
            font-weight: bolder;
            padding: 25px 0px;
            background: $background-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0.25;
            z-index: 1;
            transition: $transition-2;
        }
        &:hover{
            background: linear-gradient(210deg, #fd3f81, #fd3e4f);
            padding: 33px 40px;
            .process-number{
                position: relative;
                top: 0;
                left: 0px;
                font-size: 60px;
                font-weight: bolder;
                padding: 0px 0px;
                margin: 0px;
                color: $white;
                background: transparent;
                -webkit-background-clip: text;
                -webkit-text-fill-color: $white;
                opacity: 1;
            }
            h3{
                color: $white;
                line-height: 35pt;
                letter-spacing: -1pt;
                font-size: 20px;
                font-weight: bold;
                text-transform: capitalize;
                margin: 0px 0px 20px 0px;
            }
            p{
                color: $white;
                font-size: 14px;
            }
        }
    }
}

/*=============================
            Team
=============================*/
#team{
    padding: 80px;
    .item{
        .team-member-info{
            text-align: center;
            margin-top: 40px;
            h3{
                font-family: $popFont;
                -webkit-text-shadow: $shadow;
                -moz-text-shadow:$shadow;
                text-shadow: $shadow;
                line-height: 0;
                font-size: 20px;
                font-weight: bold;
                text-transform: capitalize;
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                transform: scale(1.25);
                position: relative;
                -webkit-transition: $transition-1;
                -moz-transition:$transition-1;
                transition: $transition-1;
                color: $black;
                opacity: 1;
            }
            p{
                font-family: $popFont;
                -webkit-text-shadow: $shadow;
                -moz-text-shadow:$shadow;
                text-shadow: $shadow;
                font-size: 16px;
                font-weight: lighter;
                line-height: 0;
                text-transform: uppercase;
                -webkit-transform: scale(1.25);
                -moz-transform: scale(1.25);
                -ms-transform: scale(1.25);
                transform: scale(1.25);
                position: relative;
                -webkit-transition: $transition-1;
                -moz-transition:$transition-1;
                transition: $transition-1;
                color: $black;
                opacity: 1;
            }
        }
        .btn07 {
            width: 100%;
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            img {
                -webkit-box-shadow: $shadow_2;
                -moz-box-shadow: $shadow_2;
                box-shadow: $shadow_2;
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
            }
            .ovrly {
                background: $background-gradient;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                opacity: 0;
                border-radius: 5px;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
            }
            .buttons {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                h3{
                    font-family: $popFont;
                    -webkit-text-shadow: $shadow;
                    -moz-text-shadow:$shadow;
                    text-shadow: $shadow;
                    line-height: 5px;
                    font-size: 20px;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    text-transform: capitalize;
                    opacity: 0;
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    transform: scale(1.5);
                    position: relative;
                    -webkit-transition: $transition-1;
                    -moz-transition:$transition-1;
                    transition: $transition-1;
                    color: transparent;
                }
                p{
                    font-family: $popFont;
                    -webkit-text-shadow: $shadow;
                    -moz-text-shadow:$shadow;
                    text-shadow: $shadow;
                    line-height: 5px;
                    font-size: 16px;
                    font-weight: lighter;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    opacity: 0;
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    transform: scale(1.5);
                    position: relative;
                    -webkit-transition: $transition-1;
                    -moz-transition:$transition-1;
                    transition: $transition-1;
                    color: transparent;
                }
                .fa {
                    -webkit-text-shadow: $shadow;
                    -moz-text-shadow:$shadow;
                    text-shadow: $shadow;
                    display: inline-block;
                    line-height: 5px;
                    font-size: 20px;
                    text-align: center;
                    text-decoration: none;
                    margin-top: 50px;
                    width: 40px;
                    height: 40px;
                    opacity: 0;
                    -webkit-transform: scale(1.5);
                    -moz-transform: scale(1.5);
                    -ms-transform: scale(1.5);
                    transform: scale(1.5);
                    position: relative;
                    -webkit-transition: $transition-1;
                    -moz-transition:$transition-1;
                    transition: $transition-1;
                    color: transparent;
                }
            }
            &:hover{
                .buttons {
                    .fa, h3, p {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        -moz-transform: scale(1);
                        -ms-transform: scale(1);
                        transform: scale(1);
                        color: $white;
                    }
                }
                .ovrly {
                   opacity: 0.75;
               }
            }
        }
        &:hover{
            .team-member-info{
                h3, p{
                    opacity: 0;
                }
            }
        }
    }
}

/*=============================
            CTA1
=============================*/

#cta1{
    position: relative;
    padding: 180px 0px;
    #device-feature-description{
        h2{
            font-size: 40px;
            color: $black;
            font-weight: bolder;
            padding: 0px;
            margin-bottom: 60px;
            span{
                background: $background-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p{
            font-size: 16px;
            color: $gray;
            padding: 0px;
            margin-bottom: 60px;

        }
    }
    #device-showcase{
        position: absolute;
        bottom: 160px;
        left: 0px;
        width: 740px;
        height: 500px;
    }
}


/*=============================
            CTA2
=============================*/
#cta2{
    padding: 200px 0px;
    position: relative;
    background: $lightGray;
    #websites-feature-description{
        h2{
            font-size: 40px;
            color: $black;
            font-weight: bolder;
            padding: 0px;
            margin-bottom: 60px;
            span{
                background: $background-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p{
            font-size: 16px;
            color: $gray;
            padding: 0px;
            margin-bottom: 60px;

        }
    }
    #websites-showcase{
        .website{
            position: absolute;
            right: 0;
            bottom: 0;
            border-radius: 10px;
        }
        .website:first-child{
            right: 500px;
            bottom: 30px;
            z-index: 5;
        }
        .website:nth-child(2){
            right: 180px;
            bottom: 140px;
            z-index: 4;
        }
        .website:nth-child(3){
            right: 0;
            bottom: -100px;
            z-index: 3;
        }
        .website:nth-child(4){
            right: 250px;
            bottom: 290px;
            z-index: 2;
        }
        .website:nth-child(5){
            right: 80px;
            bottom: 60px;
            z-index: 1;
        }
    }
}

/*=============================
            Services
=============================*/
#services{
    padding: 120px 0px;
    background: $black;
    #services-feature-description{
        h2{
            font-size: 40px;
            color: $white;
            font-weight: bolder;
            padding: 0px;
            span{
                background: $background-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p{
            font-size: 18px;
            color: $white;
            padding: 0px;
        }
    }
    .service{
        padding-left:20px;
        margin-bottom: 50px;
        span{
            font-size: 50px;
            background: $background-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        h4{
            font-size: 24px;
            font-weight: bold;
            text-transform: capitalize;
            color: $white;
            margin: 15px 0px;
        }
        p{
            font-size: 14px;
            color: $white;
            font-weight: lighter;
            padding: 0px;
        }
    }
    .service:nth-child(3), .service:nth-child(4){
        margin-bottom: 0px;
    }
}


#footer{
    padding: 85px 0px 0px 0px;
    background: url('../images/footer-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    #footer-logo{
        h2{
            a{
                font-size: 25px;
                color: $black;
                text-transform: capitalize;
                margin-bottom: 32px !important;
                span{
                    font-size: 80px;
                    font-weight: bolder;
                    color: $black !important;
                    background: $background-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        p{
            font-size: 14px;
            font-weight: lighter;
            color: $black;
        }
    }
    #who-we-are, #footer-twitter{
        padding: 0px 20px;
        h3{
            font-size: 18px;
            font-weight: bold;
            text-transform: capitalize;
            color: $black;
            margin-bottom: 40px;
        }
        p{
            font-size: 14px;
            color: $black;
        }
    }
    #footer-twitter{
        #tweet{
            h4{
                font-size: 16px;
                font-weight: bold;
                background: $background-gradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p:last-child{
                margin-top: 30px;
            }
        }
    }
    #who-we-are{
        #contact-info{
            margin: 30px 0px;
            li{
                padding: 5px 0px;
                span{
                    font-size: 24px;
                    font-weight: bold;
                    margin-right: 10px;
                    background: $background-gradient;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
        #social-contact{
            display: block;
            li{
                display: inline-block;
                margin-right: 40px;
                a{
                    i{
                        font-size: 24px;
                        background: $background-gradient;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                }
                &:hover{
                    a{
                        i{
                            background: $black;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            li:last-child{
                margin-right: 0px;
            }
        }
    }
    #footer-lic{
        text-align: center;
        padding: 60px 0px;
        p{
            font-size: 16px;
            font-weight: bold;
            background: $background-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}


@import "responsive.scss"
