doctype html
html(lang="en")
	include ./partials/header.pug
	body
		include ./partials/nav.pug
	
		.create_color
			h1 create a color plate!
			form.colorPlate(action="/create", method="POST")
				input#colorOne(type="color", name="colorOne")
				input#colorTwo(type="color", name="colorTwo")
				input#colorThree(type="color", name="colorThree")
				input#colorFour(type="color", name="colorFour")
				button(type="submit") Done


		include ./partials/footer.pug