.nav.soft-shadow
	.logo
		a(href="/")
			img(src="./build/images/logo.png")
			span color hunt
	.menu.float-left
		p.left-menu new
			span.lnr.lnr-chevron-down
		ul.secound-level1
			li
				a(href="index.html", class="active") new
			li
				a(href="hot.html") hot
			li
				a(href="popular.html") popular
			li
				a(href="random.html") random

	.menu.float-right
		span.right-menu.lnr.lnr-menu
		ul.secound-level2
			li
				a(href="index.html", class="active") plattes
			li
				a(href="create.html") create
			li
				a(href="likes.html") likes
			li
				a(href="about.html") about