mixin portfolio_item(classes, image_src, span, em)
    div(class=`col-md-4 col-xs-6 ${classes}`)
        a.portfolio-item(href='#')
            img(src= image_src , alt='' class="img-responsive")
            .portfolio_item_hover
                .item_info
                    span= span
                    br
                    em= em