
*, *:after, *:before{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
	background-color: $color_white;
}

.soft-shadow{
	box-shadow: $shadow_soft;
}
.hard-shadow{
	box-shadow: $shadow_hard;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.big {
	min-width: 97% !important;
	// min-height: 500px !important;
	display: block;
	.card__plate{
		height: 500px !important;
		&--one,
		&--two,
		&--three,
		&--four {
			span {
				font-size: 20px;
				border-top-right-radius: 6px;
			}
		}
		&--one {
			span {
				bottom: 300px !important;
			}
		}

		&--two {
			span {
				bottom: 175px !important;
			}
		}

		&--three {
			span {
				bottom: 75px !important;
			}
		}
		&--four {
			span {
				bottom: 0px !important;
			}
		}
	}
}