
@media only screen and (max-width: $breakPoint_mobile){ 
	.container {
		.main {
			justify-content: center;
			margin-right: 0px;
		}
		.side {
			display: none;
		}
	}
}
@media only screen and (max-width: $breakPoint_tablet) { 
	.container {
		.main {
			justify-content: center;
			margin-right: 0px;
		}
		.side {
			display: none;
		}
	}
}
@media only screen and (max-width: $breakPoint_labtop) { 
	.container {
		.main {
			justify-content: center;
			margin-right: 0px;
		}
		.side {
			display: none;
		}
	}
}
@media only screen and (max-width: $breakPoint_desktop) { 
	.container{ 
		.main {
			justify-content: center;
			margin-right: 0px;
		}
		.side{
			display: none;
		}
	}
}