.side {
	position: fixed;
	top: 70px;
	right: 15px;
	width: 220px;
	color: $color_black;
	font-family: $font-sourceSans;
	font-size: 14px;
	text-align: left;
	.subscribe {
		margin-bottom: 50px;
		p {
			font-size: 14px;
			color: $color_black;
			margin: 20px 0px;
			font-weight: 300;
			font-family: $font-sourceSans;
		}
		input[type="email"] {
			padding: 8px 10px;
			border: 1px solid lighten($color_lightBlue, 5%);
			border-radius: 8px;
			width: 100%;
			margin-bottom: 15px;
			font-family: $font-sourceSans;
			font-size: 14px;
			color: $color_black;
		}
		button[type="submit"] {
			width: 100%;
			padding: 10px;
			border: 0px;
			border-radius: 8px;
			text-align: center;
			text-transform: capitalize;
			font-size: 14px;
			font-family: $font-sourceSans;
			background-color: $color_black;
			color: $color_white;
			cursor: pointer;
		}
	}
	.footer {
		width: 100%;
		text-align: center;
		font-weight: 300;
	}
}