/*
* Colors
*/

$color_white: #fff;
$color_black: #28394a;
$color_gray: #E5E5E5;
$color_lightBlue: #add0e8;
$shadow_soft: 0px 5px 10px 0px rgba(0, 64, 128, 0.05);
$shadow_hard: 0px 10px 40px -10px rgba(0, 64, 128, 0.2);

/**
* Font
*/

$font-sourceSans: 'Source Sans Pro',sans-serif;

/*
* Responsive Breakpoints
*/

$breakPoint_desktop: 1200px;
$breakPoint_labtop: 992px;
$breakPoint_tablet: 768px;
$breakPoint_mobile: 576px;