mixin editAccountForm()
    .form(action="account.html", method="POST")
        h2 Enter your new info.
        label(for="email") Email
        input(type="email", name="newEmail")
        label(for="password") Password
        input(type="password", name="newPassword")
        input.button(type="submit", value="Update My account")