mixin forgotForm()
    .form#forgotPassword(action="login.html", method="POST")
        h2 Forgot Password
        label(for="email") Email
        input(type="email", name="email")
        input.button(type="submit", value="Send a reset →")
