mixin review(review)
    .review__header
        .review__author
            img.avatar(src="public/images/avatar.jpg")
            p Debbie Downer
        .review__stars(title=`Rated 3 our of 5 stars`)
            = `★`.repeat(3)
            = `☆`.repeat(5 - 3)
        time.review__time 6 months ago
    .review__body
        p The coffee was too hot!
