extends layout

block content
    .inner
        h1.page--title Top 10 Stores
        table.table
            thead
                td photo
                td ranking
                td name
                td review
                td average rating
            - const stores = ["work","Mulbery caffee","Born & Raise","Coffee shop","Olive Oil","Horase","Pyramids","Cairo coffee shop","MAC","mo2men"]
            each store, i in stores
                tr
                    td
                        a(href="#")
                            img(src=`public/images/${i+1}.jpg` width="160" alt="")
                    td #{i+1}
                    td 
                        a(href="#")= store
                    //- Reviews Number
                    td 10 
                    //- Average rating
                    td 4.3  