.card{
	padding: 15px;
	background-color: $color_white;
	border-radius: 8px;
	color: lighten($color_black, 50%);
	min-width: 255px;
	margin: 10px;
	&__plate{
		position: relative;
		height: 250px;
		overflow: hidden;
		border-radius: 4px;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		z-index: 1 !important;
		&--one, &--two, &--three, &--four{
			width: 100%;
			max-height: 100%;
			a{
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
			}
			span{
				position: absolute;
				left: 0;
				color: $color_white;
				background-color: rgba(0, 0, 0, 0.1);
				opacity: 0;
				padding: 3px 6px;
				display: block;
				border-top-right-radius: 3px;
				letter-spacing: 1px;
				font-family: $font-sourceSans;
				text-transform: uppercase;
				transition: all 0.2s ease-in-out;
				cursor: text;
			}
			&:hover{
				span{
					opacity: 1;
				}
			}
		}
		&--one {
			position: absolute;
			height: 100%;
			// top: 0px;
			height: 100%;
			bottom: 0;
			left: 0px;
			span {
				bottom: 150px;
			}
		}

		&--two {
			position: absolute;
			height: 100%;
			// top: 90px;
			height: 60%;
			bottom: 0;
			left: 0px;
			span {
				bottom: 87px;
			}
		}

		&--three {
			position: absolute;
			height: 100%;
			// top: 160px;
			height: 35%;
			bottom: 0;
			left: 0px;
			span {
				bottom: 37px;
			}
		}

		&--four {
			position: absolute;
			height: 100%;
			height: 15%;
			bottom: 0;
			left: 0px;
			span {
				bottom: 0px;
			}
		}
	}
	&__footer {
		position: relative;
		.like {
			font-family: $font-sourceSans;
			padding: 5px;
			min-width: 70px;
			cursor: pointer;
			border: 1px solid lighten($color_black, 50%);
			background-color: $color_white;
			color: lighten($color_black, 50%);
			border-radius: 4px;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: #f5fcff;
				border: 1px solid lighten($color_black, 25%);
				color: lighten($color_black, 25%);
			}
			span:first-child {
				font-size: 20px;
				margin-right: 5px;
			}
			span:last-child {
				font-size: 16px;
				font-weight: 600;
			}
		}
		.time {
			font-family: $font-sourceSans;
			position: absolute;
			top: 30%;
			right: 0px;
		}
	}
}