.create_color{
	position: relative;
	height: 500px;
	top: 100px;
	h1{
		color: lighten($color_black, 5%);
		display: block;
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translate(-50%);
		font-size: 30px;
		font-family: $font-sourceSans;
		font-weight: 400;
	}
	form{
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		flex-direction: column;
		width: 400px;
		height: 400px;
		position: relative;
		input[type="color"]{
			cursor: pointer;
			padding: 0px;
			width: 100%;
			border: none;
			background-color: $color_white;
			-webkit-appearance: none;
			&::-moz-color-swatch {
				border: 0px;
			}
			&::-webkit-color-swatch {
				border: 0px;
			}
			&::-webkit-color-swatch-wrapper {
				border: 0px;
				padding: 0px;
			}
		}
		button{
			width: 20%;
			min-height: 35px;
			text-align: center;
			margin: 420px auto 0 auto;
			color: $color_black;
			background-color:$color_white;
			padding: 5px 10px;
			border: 1px solid $color_gray;
			font-family: $font-sourceSans;
			font-weight: 400;
			text-transform: capitalize;
			font-size: 16px;
			cursor: pointer;
			border-radius: 5px;
		}
		#colorOne{
			position: absolute;
			height: 100%;
			bottom: 0;
			left: 0px;
			&::-moz-color-swatch {
				border-radius: 5px;
				
			}
			&::-webkit-color-swatch{
				border-radius: 5px;
			}
		}
		#colorTwo {
			position: absolute;
			height: 60%;
			bottom: 0;
			left: 0px;
		}
		#colorThree {
			position: absolute;
			height: 35%;
			bottom: 0;
			left: 0px;
		}
		#colorFour {
			position: absolute;
			height: 15%;
			bottom: 0;
			left: 0px;
			&::-moz-color-swatch {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
			&::-webkit-color-swatch {
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
			}
		}
	}
}