@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900|Roboto:100,300,400,400i,500,500i,700,900");
/*=========================
		  Fonts
=========================*/
/*=========================
		  Colors
=========================*/
/*=============================
		Reset Styles
=============================*/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
a::-moz-selection,
span::-moz-selection,
img::-moz-selection {
  background: rgba(247, 200, 115, 0.5);
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection,
img::selection {
  background: rgba(247, 200, 115, 0.5);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p.subtitle {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #8c8f94;
}

a {
  color: #267df4;
  text-decoration: underline;
  outline: 0;
}
a:focus {
  outline: none !important;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

/*=============================
		Nav Bar
=============================*/
.header-active {
  background-color: #fff !important;
  padding: 20px 50px !important;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.header-active #nav-icon {
  top: 38% !important;
}

.open {
  left: 0px !important;
}

/*=============================
		    Nav
=============================*/
#nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: transparent;
  color: black;
  padding: 50px;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  z-index: 10;
}
#nav #nav-icon {
  color: black;
  font-size: 28px;
  padding: 0px;
  position: absolute;
  top: 45%;
  z-index: 2;
  text-decoration: none;
  cursor: pointer !important;
  -webkit-transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}
#nav #side-menu {
  display: block;
  position: fixed;
  top: 0px;
  left: -700px;
  height: 100%;
  width: 700px;
  max-width: 650px;
  padding: 40px;
  z-index: 50;
  background-color: #fff;
  -webkit-transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}
#nav #side-menu #close-side-menu {
  position: absolute;
  color: black;
  right: 20px;
  top: 52px;
  font-size: 24px;
  text-decoration: none;
}
#nav .row #nav-center a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
}
#nav .row #nav-center a sup {
  font-size: 14px;
  text-transform: capitalize;
  position: absolute;
  top: 15px;
}
#nav .row #socials-nav-right {
  display: block;
  float: right;
  margin-top: 20px;
}
#nav .row #socials-nav-right li {
  display: inline-block;
  margin-right: 15px;
}
#nav .row #socials-nav-right li a {
  color: black;
  font-size: 20px;
}
#nav .row #socials-nav-right li:last-child {
  margin-right: 0px;
}

/*=============================
		  articlss
=============================*/
#articles {
  padding-top: 200px;
}
#articles .article {
  text-align: center;
  margin-bottom: 70px;
}
#articles .article a {
  text-decoration: none;
}
#articles .article img {
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  opacity: 1;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#articles .article img:hover {
  opacity: 0.6;
}
#articles .article .tag {
  font-size: 18px;
  color: #f7c873;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#articles .article .article-heading {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  text-transform: capitalize;
  padding: 0px 15px;
  margin-bottom: 20px;
  height: 150px;
  color: black;
}
#articles .article .date {
  letter-spacing: 2px;
  color: #999999;
  font-weight: 300;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/*=============================
		  Footer
=============================*/
#footer {
  padding: 70px 0px;
}
#footer .text-center {
  text-align: center;
}
#footer .text-center p {
  font-size: 18px;
  color: black;
  font-weight: 200;
}
#footer .text-center p a {
  text-decoration: none;
  font-weight: 300;
  color: black;
  text-transform: capitalize;
  background-color: rgba(247, 200, 115, 0.5);
}

/* Extra Small Screen - Smart Phones and Tablets */
@media (max-width: 767px) {
  #nav #side-menu {
    width: 350px;
  }

  #articles .article .article-heading {
    font-size: 2.5em;
    height: 100px;
    padding: 0px;
  }
}
/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
  #nav #side-menu {
    width: 350px;
  }

  #articles .article .article-heading {
    font-size: 2em;
    height: 100px;
    padding: 0px;
  }
}
/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
  #nav #side-menu {
    width: 350px;
  }

  #articles .article .article-heading {
    font-size: 2em;
    height: 170px;
    padding: 0px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  /* Enter your style for screens above 1200px bellow this line  */
}
