@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*=============================
            Color
=============================*/
/*=============================
            Fonts
=============================*/
/*=============================
    Buttons
=============================*/
.btn {
  padding: 15px;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 185px;
  height: 60px;
  text-transform: capitalize;
}

.btn-round {
  background: transparent;
  border-radius: 50px;
  border: 2px solid white;
}

.btn-cubic {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f) !important;
  background: linear-gradient(90deg, #fd3f81, #fd3e4f) !important;
  border-radius: 0px;
  border: 0px;
}

/*=============================
    Reset Styles
=============================*/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
a::-moz-selection,
span::-moz-selection,
img::-moz-selection,
sup::-moz-selection {
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  color: #fff;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection,
img::selection,
sup::selection {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

a {
  text-decoration: underline;
  outline: 0;
}
a:focus {
  outline: none !important;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

.header-active {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f) !important;
  background: linear-gradient(90deg, #fd3f81, #fd3e4f) !important;
  padding: 20px 0px !important;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
.header-active a:hover, .header-active a:active, .header-active a:focus {
  color: #000 !important;
}

.section-head {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  padding: 15px 0px;
  margin: 15px 0px;
}

.process-active {
  background: -webkit-linear-gradient(240deg, #fd3f81, #fd3e4f) !important;
  background: linear-gradient(210deg, #fd3f81, #fd3e4f) !important;
  padding: 33px 40px !important;
}
.process-active .process-number {
  position: relative !important;
  top: 0 !important;
  left: 0px !important;
  font-size: 60px !important;
  font-weight: bolder !important;
  padding: 0px 0px !important;
  margin: 0px !important;
  color: white !important;
  background: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  opacity: 1 !important;
}
.process-active h3 {
  color: white !important;
  line-height: 35pt !important;
  letter-spacing: -1pt !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  margin: 0px 0px 20px 0px !important;
}
.process-active p {
  color: white !important;
  font-size: 14px !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}
