/* Extra Small Screen - Smart Phones and Tablets */
@media (max-width: 767px) {
  /* Enter your style for screens under 767px bellow this line  */
  .sidebar-icon {
    display: block !important;
  }

  .navbar-links, .right-align {
    display: none;
  }
}
/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
  /* Enter your style for screens between 768px and 991px bellow this line  */
  .sidebar-icon {
    display: block !important;
  }

  .navbar-links, .right-align {
    display: none;
  }

  .section-head {
    padding: 15px 50px;
  }

  #header h4 {
    margin-top: 100px;
    font-size: 22px;
  }
  #header h1 {
    font-size: 36px;
  }

  #about p {
    font-size: 22px;
    margin: 15px 0px;
    padding: 0px 50px;
  }
  #about button {
    margin-right: 50px;
  }

  #team {
    padding: 80px 0px;
  }
  #team .item {
    width: 80%;
    margin: 50px auto;
  }
  #team .item .btn07 .buttons p {
    line-height: 20px !important;
  }

  #cta1 {
    padding: 80px 0px;
  }
  #cta1 #device-feature-description h2 {
    font-size: 34px;
    margin-bottom: 40px;
  }
  #cta1 #device-feature-description p {
    margin-bottom: 40px;
  }
  #cta1 #device-showcase {
    display: none;
  }

  #cta2 {
    padding: 150px 0px;
  }
  #cta2 #websites-feature-description h2 {
    font-size: 34px;
    margin-bottom: 40px;
  }
  #cta2 #websites-feature-description p {
    margin-bottom: 40px;
  }
  #cta2 #websites-showcase {
    display: none;
  }

  #services {
    padding: 80px 0px;
  }
  #services #services-feature-description h2 {
    font-size: 36px;
  }
  #services #services-feature-description p {
    font-size: 16px;
  }
  #services .service {
    margin-top: 50px;
  }
}
/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-icon {
    display: block !important;
  }

  .navbar-links, .right-align {
    display: none;
  }

  .section-head {
    padding: 15px 50px;
  }

  #header h4 {
    margin-top: 80px;
    font-size: 22px;
  }
  #header h1 {
    font-size: 44px;
  }

  #about p {
    font-size: 25px;
    margin: 15px 0px;
    padding: 0px 50px;
  }
  #about button {
    margin-right: 50px;
  }

  #team {
    padding: 80px 0px;
  }
  #team .item .btn07 .buttons p {
    line-height: 20px !important;
  }

  #cta1 {
    padding: 80px 0px;
  }
  #cta1 #device-feature-description h2 {
    font-size: 34px;
    margin-bottom: 40px;
  }
  #cta1 #device-feature-description p {
    margin-bottom: 40px;
  }
  #cta1 #device-showcase {
    position: absolute;
    bottom: 80px;
    left: -175px;
    width: 740px;
    height: 500px;
  }

  #cta2 {
    padding: 150px 0px;
  }
  #cta2 #websites-feature-description h2 {
    font-size: 34px;
    margin-bottom: 40px;
  }
  #cta2 #websites-feature-description p {
    margin-bottom: 40px;
  }
  #cta2 #websites-showcase .website {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px;
  }
  #cta2 #websites-showcase .website:first-child {
    right: 310px;
  }
  #cta2 #websites-showcase .website:nth-child(2) {
    right: -40px;
  }
  #cta2 #websites-showcase .website:nth-child(3) {
    right: -160px;
  }
  #cta2 #websites-showcase .website:nth-child(4) {
    right: 40px;
    bottom: 150px;
  }
  #cta2 #websites-showcase .website:nth-child(5) {
    right: -40px;
    bottom: 60px;
    z-index: 1;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  /* Enter your style for screens above 1200px bellow this line  */
}
