@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*=============================
            Color
=============================*/
/*=============================
            Fonts
=============================*/
/*=============================
    Buttons
=============================*/
.btn {
  padding: 15px;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 185px;
  height: 60px;
  text-transform: capitalize;
}

.btn-round {
  background: transparent;
  border-radius: 50px;
  border: 2px solid white;
}

.btn-cubic {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f) !important;
  background: linear-gradient(90deg, #fd3f81, #fd3e4f) !important;
  border-radius: 0px;
  border: 0px;
}

/*=============================
    Reset Styles
=============================*/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
p::-moz-selection,
a::-moz-selection,
span::-moz-selection,
img::-moz-selection,
sup::-moz-selection {
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  color: #fff;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
span::selection,
img::selection,
sup::selection {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p {
  font-size: 18px;
  line-height: 1.8;
}

a {
  text-decoration: underline;
  outline: 0;
}
a:focus {
  outline: none !important;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

.header-active {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f) !important;
  background: linear-gradient(90deg, #fd3f81, #fd3e4f) !important;
  padding: 20px 0px !important;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
.header-active a:hover, .header-active a:active, .header-active a:focus {
  color: #000 !important;
}

.section-head {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  padding: 15px 0px;
  margin: 15px 0px;
}

.process-active {
  background: -webkit-linear-gradient(240deg, #fd3f81, #fd3e4f) !important;
  background: linear-gradient(210deg, #fd3f81, #fd3e4f) !important;
  padding: 33px 40px !important;
}
.process-active .process-number {
  position: relative !important;
  top: 0 !important;
  left: 0px !important;
  font-size: 60px !important;
  font-weight: bolder !important;
  padding: 0px 0px !important;
  margin: 0px !important;
  color: white !important;
  background: transparent !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: white !important;
  opacity: 1 !important;
}
.process-active h3 {
  color: white !important;
  line-height: 35pt !important;
  letter-spacing: -1pt !important;
  font-size: 20px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  margin: 0px 0px 20px 0px !important;
}
.process-active p {
  color: white !important;
  font-size: 14px !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

/*=============================
            NavBar
=============================*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 50px 0px;
  z-index: 10;
  background: transparent;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
#navbar .logo {
  width: 105px;
  height: 45px;
  padding-left: 30px;
}
#navbar .navbar-links, #navbar .social-links {
  padding-top: 10px;
  text-transform: capitalize;
}
#navbar .navbar-links ul, #navbar .social-links ul {
  display: block;
}
#navbar .navbar-links ul li, #navbar .social-links ul li {
  display: inline-block;
  margin-right: 25px;
}
#navbar .navbar-links ul li a, #navbar .social-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
#navbar .navbar-links ul li a:hover, #navbar .navbar-links ul li a:focus, #navbar .navbar-links ul li a:active, #navbar .social-links ul li a:hover, #navbar .social-links ul li a:focus, #navbar .social-links ul li a:active {
  color: #fd3e4f;
}
#navbar .navbar-links ul li:last-child, #navbar .social-links ul li:last-child {
  margin-left: 0px;
}
#navbar .navbar-links {
  text-align: center;
}
#navbar .social-links {
  text-align: right;
}

/*=============================
            Header
=============================*/
#header {
  background: url("../images/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}
#header h4 {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 400;
}
#header h1 {
  font-size: 50px;
  font-weight: bolder;
  letter-spacing: -3px;
  margin-bottom: 70px;
}

/*=============================
            About
=============================*/
#about {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  padding: 80px 0px;
  color: white;
}
#about p {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: lighter;
  line-height: 35pt;
  letter-spacing: -1pt;
  margin: 15px 0px;
}
#about button {
  position: relative;
  padding-left: 0px;
}
#about button span {
  position: absolute;
  right: 25px;
  top: 18px;
  font-weight: bolder;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
#about button:hover span {
  right: 10px;
}

#processes {
  padding: 0px;
  background: white;
}
#processes .process {
  position: relative;
  padding: 60px 40px;
  background: white;
  font-family: "Poppins", sans-serif;
}
#processes .process h3 {
  color: #222222;
  line-height: 35pt;
  letter-spacing: -1pt;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px 0px 20px 0px;
}
#processes .process p {
  color: #222222;
  font-size: 14px;
}
#processes .process .process-number {
  position: absolute;
  top: 15%;
  left: 30px;
  font-size: 120px;
  font-weight: bolder;
  padding: 25px 0px;
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.25;
  z-index: 1;
  -webkit-transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
  transition: left 0.7s cubic-bezier(0.545, 0, 0.05, 1);
}
#processes .process:hover {
  background: -webkit-linear-gradient(240deg, #fd3f81, #fd3e4f);
  background: linear-gradient(210deg, #fd3f81, #fd3e4f);
  padding: 33px 40px;
}
#processes .process:hover .process-number {
  position: relative;
  top: 0;
  left: 0px;
  font-size: 60px;
  font-weight: bolder;
  padding: 0px 0px;
  margin: 0px;
  color: white;
  background: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  opacity: 1;
}
#processes .process:hover h3 {
  color: white;
  line-height: 35pt;
  letter-spacing: -1pt;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px 0px 20px 0px;
}
#processes .process:hover p {
  color: white;
  font-size: 14px;
}

/*=============================
            Team
=============================*/
#team {
  padding: 80px;
}
#team .item .team-member-info {
  text-align: center;
  margin-top: 40px;
}
#team .item .team-member-info h3 {
  font-family: "Poppins", sans-serif;
  -webkit-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  line-height: 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  color: #222222;
  opacity: 1;
}
#team .item .team-member-info p {
  font-family: "Poppins", sans-serif;
  -webkit-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: lighter;
  line-height: 0;
  text-transform: uppercase;
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  color: #222222;
  opacity: 1;
}
#team .item .btn07 {
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
#team .item .btn07 img {
  -webkit-box-shadow: 8px 8px 20px 5px rgba(61, 61, 62, 0.1);
  box-shadow: 8px 8px 20px 5px rgba(61, 61, 62, 0.1);
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
#team .item .btn07 .ovrly {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#team .item .btn07 .buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#team .item .btn07 .buttons h3 {
  font-family: "Poppins", sans-serif;
  -webkit-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  line-height: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  color: transparent;
}
#team .item .btn07 .buttons p {
  font-family: "Poppins", sans-serif;
  -webkit-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  line-height: 5px;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  color: transparent;
}
#team .item .btn07 .buttons .fa {
  -webkit-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  -moz-text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height: 5px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin-top: 50px;
  width: 40px;
  height: 40px;
  opacity: 0;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  position: relative;
  -webkit-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  color: transparent;
}
#team .item .btn07:hover .buttons .fa, #team .item .btn07:hover .buttons h3, #team .item .btn07:hover .buttons p {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: white;
}
#team .item .btn07:hover .ovrly {
  opacity: 0.75;
}
#team .item:hover .team-member-info h3, #team .item:hover .team-member-info p {
  opacity: 0;
}

/*=============================
            CTA1
=============================*/
#cta1 {
  position: relative;
  padding: 180px 0px;
}
#cta1 #device-feature-description h2 {
  font-size: 40px;
  color: #222222;
  font-weight: bolder;
  padding: 0px;
  margin-bottom: 60px;
}
#cta1 #device-feature-description h2 span {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#cta1 #device-feature-description p {
  font-size: 16px;
  color: #717171;
  padding: 0px;
  margin-bottom: 60px;
}
#cta1 #device-showcase {
  position: absolute;
  bottom: 160px;
  left: 0px;
  width: 740px;
  height: 500px;
}

/*=============================
            CTA2
=============================*/
#cta2 {
  padding: 200px 0px;
  position: relative;
  background: #f4f4f4;
}
#cta2 #websites-feature-description h2 {
  font-size: 40px;
  color: #222222;
  font-weight: bolder;
  padding: 0px;
  margin-bottom: 60px;
}
#cta2 #websites-feature-description h2 span {
  background: -webkit-linear-gradient(0deg, #fd3f81, #fd3e4f);
  background: linear-gradient(90deg, #fd3f81, #fd3e4f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#cta2 #websites-feature-description p {
  font-size: 16px;
  color: #717171;
  padding: 0px;
  margin-bottom: 60px;
}
#cta2 #websites-showcase .website {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}
#cta2 #websites-showcase .website:first-child {
  right: 500px;
  bottom: 30px;
  z-index: 5;
}
#cta2 #websites-showcase .website:nth-child(2) {
  right: 180px;
  bottom: 140px;
  z-index: 4;
}
#cta2 #websites-showcase .website:nth-child(3) {
  right: 0;
  bottom: -100px;
  z-index: 3;
}
#cta2 #websites-showcase .website:nth-child(4) {
  right: 250px;
  bottom: 290px;
  z-index: 2;
}
#cta2 #websites-showcase .website:nth-child(5) {
  right: 80px;
  bottom: 60px;
  z-index: 1;
}

/*=============================
            Services
=============================*/
#service {
  padding: 80px 0px;
  background: #222222;
}

/* Extra Small Screen - Smart Phones and Tablets */
@media (max-width: 767px) {
  /* Enter your style for screens under 767px bellow this line  */
}
/* Small Screen */
@media (min-width: 768px) and (max-width: 991px) {
  /* Enter your style for screens between 768px and 991px bellow this line  */
}
/* Medium Screen */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Enter your style for screens between 992px and 1199px bellow this line  */
}
/* Large Screen */
@media (min-width: 1200px) {
  /* Enter your style for screens above 1200px bellow this line  */
}
