#footer
	#footer-top.mt-4
		.container
			.row.flex-column.text-center
				.col-lg-4.offset-lg-4.col-md-8.offset-md-2.px-4
					a.my-4(href="#")
						img(src="./images/logo-footer.png")
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis voluptate omnis dolor molestias maxime excepturi esse alias facere dolorem iusto.
					ul.d-flex.flex-row.justify-content-around.align-items-center
						li
							a(href="#")
								i.fab.fa-facebook-f 
						li
							a(href="#")
								i.fab.fa-twitter
						li
							a(href="#")
								i.fab.fa-google-plus-g
						li
							a(href="#")
								i.fab.fa-linkedin-in
	#footer-middle.py-3
		.container
			.row.align-items-center.justify-content-between
				.col-3.text-center
					img(src="./images/product-1.png")
				.col-3.text-center
					img(src="./images/product-2.png")
				.col-3.text-center
					img(src="./images/product-3.png")
				.col-3.text-center
					img(src="./images/product-4.png")
				
	#footer-bottom.py-2
		.container
			.row.mx-auto.text-center
				p © Copyright 2018 KN. All Rights Reserved. Website designed & developed by Road9 Media
