@mixin curved-sec($img){
	&::before{
		content: '';
		width: 100%;
		position: absolute;
		min-height: 20.7rem;
		max-height: 25.5rem;
		height: 25.5rem;
		background-image: url($img);
		left: 0;
		right: -1px;
		top: -16.5rem;
		z-index: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}