#contact{
	&-header{
		position: relative;
		overflow: hidden;
		min-height: 80vh;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before{
			border-radius: 100%; 
			position: absolute;
			background-image: url('../../images//Group-405.png');
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: cover;
			right: -200px;
			left: -200px;
			top: -200px;
			content: '';
			bottom: 0;
			z-index: 0;
		}
		&-title{
			font-weight: lighter;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-oswald;
			font-weight: 300;
			font-size: 5.5rem;
			color: $white;
			text-align: center;
		}
		&-branches{
			margin: 3rem 0;
			h3{
				text-transform: uppercase;
				font-size: 3.3rem;
				font-family: $font-oswald;
				font-weight: 300;
				margin-bottom: 1rem;
			}
			p{
				font-family: $font-roboto;
				font-weight: 300;
				font-size: 1.5rem;
				line-height: 1.8rem;
				margin: 0px;
			}
		}
		&-website{
			font-family: $font-roboto;
			font-size: 1.5rem;
			font-weight: 300;
			margin: 2rem 0;
			text-align: center;
			width: 100%;
			z-index: 4;
		}
		@include media-breakpoint-down(md){
			height: 120vh;
			&-title{
				font-size: 4rem;
			}
			&-branches{
				div{
					&:not(:first-of-type){
						margin-top: 2rem;
					}
				}
				h3{
					font-size: 2rem;
				}
				p{
					font-size: 1.3rem;
				}
			}
		}
	}
	&-map{
		iframe{
			margin-top:-13rem;
			width: 100vw;
			min-height: 600px;
			@include media-breakpoint-down(md){
				margin-top: -15rem;
			}
		}
	}
	&-send-message{
		background-color: $gray-300;
		padding: 7.8rem 0 10rem;
		margin-top: -5px;
		&-title{
			h1{
				text-align: center;
				color: $blue;
				text-transform: uppercase;
				font-size: 4rem;
				font-family: $font-roboto;
				font-weight: bold;
				margin: 2.4rem 0;
			}
		}
		&-form{
			.card{
				padding: 4.8rem 5.3rem;
				border-radius: 1.5rem;
				border: 0;
				box-shadow: $box-shadow-lg;
				margin: 0 auto;
				width: 75%;
				@include media-breakpoint-down(md){
					width: 100%;
				}
				button[type="submit"]{
					margin: 2rem auto 1rem;
					display: block;
					border-radius: 3rem;
					padding: 1.5rem 6.3rem;
					font-size: 1.6rem;
					font-family: $font-oswald;
					font-weight: 400;
					box-shadow: none;
				}
			}
		}
		@include media-breakpoint-down(md){
			padding: 5rem 0 10rem;
			&-title{
				h1{
					font-size: 2.8rem;
				}
			}
			&-form{
				.card{
					padding: 3rem;
				}
			}
		}
	}
}