#about-us-intro{
    // padding: 100px 0px;
    background-color: $white-color;
    h6, p{
        padding-top: 15px;
    }
    h6{
        font-size: 14px;
    }
    p{
        color: lighten($primary-color, 20%);
    }
}