#bg-hero-sec{
    background: $white-color url('../../images/big-hero-bg.jpg') no-repeat;
    background-size: cover;
    padding-top: 200px;
    height: 850px;
    //overflow: hidden;
    #main-header{
        margin-bottom: 100px;
        h6{
            background-color: $main-color;
            padding: 5px 10px;
            width: 100px;
            margin: 0 auto;
        }
        p{
            padding: 30px 0;
            margin: 0 auto;
        }
    }
    #sec-section{
        
        margin-top: -300px;
        
        p{
            margin: 30px 0px;
        }
        button{
            margin-top: 50px;
        }
        img{
            min-height: 400px;
        }
    }
}

////// HEADER RESPONSIVE //////
@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 575px) {}
