#newsletter{
    background-color: $main-color;
    padding: 50px 0px;
    #get-in-touch{
        span{
            color: $white-color;
        }
        button{
            margin-top: 30px;
        }
    }
    #newsletter-form{
        background-color: $white-color;
        padding: 25px;
        p{
            color: lighten($primary-color, 30%);
            margin: 20px 0px;
            font-weight: lighter;
            font-family: $open-sans-font;
        }
        form{
            position: relative;
            input[type="email"]{
                border-right: 0px;
                background-color: transparent;
                z-index: 2;
            }
        }
    }
}

////// NEWSLETTER RESPONSIVE //////
@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 575px) {}
