.form{
    background-color: white;
    -webkit-box-shadow: $shad;
            box-shadow: $shad;
    margin-top: 5rem;
    padding: 4rem;

    .button{
        background-color: $yellow;
        border: 0px;
        color: $black;
        margin-top: 2rem;
        font-family: $roboto;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
    }
    h2{
        margin: 0;
        font-size: 2rem;
        font-weight: 500;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid $grey;
    }
    a{
        margin-top: 1rem;
        float: right;
        text-decoration: underline;
    }
}