@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Varela+Round");
                                                                                             /*=============================
	 Fonts and Transitions
=============================*/
/*=============================
			colors
=============================*/
/*=============================
		Reset Styles
=============================*/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 62px;
  line-height: 72px;
}

h2 {
  font-size: 52px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  margin-bottom: 46px;
}

h4 {
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 25px;
}

p.subtitle {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 28px;
  color: #8c8f94;
}

a {
  color: #267df4;
  text-decoration: underline;
  outline: 0;
}
a:focus {
  outline: none !important;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

ul {
  padding-left: 0px;
}

ul > li {
  list-style: none;
}

/*=============================
		    Buttons
=============================*/
.btn {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  font-size: 16px;
  border-radius: 30px;
  padding: 9px 16px;
  text-transform: capitalize;
  border: 1px solid transition;
  text-decoration: none;
  -webkit-transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);
}
.btn:hover, .btn:focus {
  color: #26272d !important;
}

.btn-blue {
  background-color: #267df4;
  color: #fff;
}
.btn-blue:hover, .btn-blue:focus {
  background-color: #fff;
  border: 1px solid #267df4;
}

.btn-green {
  background-color: #6fc754;
  color: #fff;
}
.btn-green:hover, .btn-green:focus {
  background-color: #fff;
}

.btn-lg {
  padding: 14px 48px;
}

.btn-video {
  border: 1px solid #d7d7d7;
  background-color: transparent;
  color: #26272d;
  text-transform: capitalize;
  font-weight: bold;
}
.btn-video i {
  margin-right: 15px;
}

.btn-dark {
  background-color: #131315;
  color: white;
}

/*=============================
		Inputs
=============================*/
input[type="text"],
input[type="email"] {
  width: 502px;
  height: 50px;
  max-width: 100%;
  border: 1px solid rgba(38, 39, 45, 0.2);
  padding: 16px 26px;
  font-size: 16px;
  background-color: transparent;
  padding-right: 148px;
  border-radius: 30px;
}

input[type="text"]:focus,
input[type="email"]:focus {
  outline: none;
  color: #26272d;
}

/*=============================
			Forms
=============================*/
#ready-to-buy .form-group,
#subscribe .form-group {
  position: relative;
  width: 502px;
  max-width: 100%;
  margin: 0 auto;
}

#ready-to-buy .form-group .btn,
#subscribe .form-group .btn {
  position: absolute;
  top: 4px;
  right: 4px;
}

/*=============================
		Nav Bar
=============================*/
.header-active {
  background-color: #fff !important;
  padding: 20px 0px !important;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}
.header-active #nav-icon {
  top: 38% !important;
}

.open {
  left: 0px !important;
}
