header#header
    .container
        .row
            .logo.col-md-1.float-left
                a(href='index.html')  akad. 
            #menu
                #desktop-nav.col-md-6.float-right
                    ul.first-level.float-right
                        li
                            a.hvr-btn-up(href='index.html') home
                        li
                            a.hvr-btn-up(href='#') about us
                        li
                            a.hvr-btn-up(href='#why-choose-us-sec') services
                        li
                            a.hvr-btn-up(href='#portfolio') Portfolio
                            ul.second-level
                                li
                                    a(href='#') single project 1
                                li
                                    a(href='#') single project 2
                                li
                                    a(href='#') Portfolio list
                        li
                            a.hvr-btn-up(href='#') Blog
                            ul.second-level
                                li
                                    a(href='#') posts list
                                li
                                    a(href='#') single post
                        li
                            a.hvr-btn-up(href='#') Contact us
                #mobile-nav
                    .nav-icon.float-right
                        span.ion-navicon.float-right
                    .mobile-side-nav
                        .close-side-nav-icon
                            span.ion-android-close