doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title AKAD. | Creative Degital Agency HTML5 Template
        link(rel="icon" href="assets/images/favicon.ico" type="image/x-icon")
        //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
        //- all custom styles and libs are concatenated in this custom file
        link(rel='stylesheet', href='assets/build/min/styles.min.css')
    body
        header#header
            .container
                .row
                    .logo.col-md-1.float-left
                        a(href='index.html')  akad. 
                    #menu
                        #desktop-nav.col-md-6.float-right
                            ul.first-level.float-right
                                li
                                    a.hvr-btn-up(href='index.html') home
                                li
                                    a.hvr-btn-up(href='about.html') about us
                                li
                                    a.hvr-btn-up(href='services.html') services
                                li
                                    a.hvr-btn-up(href='#') Portfolio
                                    ul.second-level
                                        li
                                            a(href='portfolio-1.html') Portfolio list
                                        li
                                            a(href='single-project-1.html') single project 1
                                        li
                                            a(href='single-project-2.html') single project 2
                                li
                                    a.hvr-btn-up(href='#') Blog
                                    ul.second-level
                                        li
                                            a(href='#') posts list
                                        li
                                            a(href='#') single post
                                li
                                    a.hvr-btn-up(href='contact.html') Contact us
                        #mobile-nav
                            .nav-icon.float-right
                                span.ion-navicon.float-right
                            .mobile-side-nav
                                .close-side-nav-icon
                                    span.ion-android-close