@import "lib.scss";


/*=============================
            Nav
=============================*/

#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    color: $black;
    padding: 50px;
    -webkit-transition: $transition-1;
    transition: $transition-1;
    z-index: 10;
    #nav-icon {
        color: $black;
        font-size: 28px;
        padding: 0px;
        position: absolute;
        top: 45%;
        z-index: 2;
        text-decoration: none;
        cursor: pointer !important;
        -webkit-transition: $transition-2;
        transition: $transition-2;
    }
    /* Side Menu*/
    #side-menu {
        display: block;
        position: fixed;
        top: 0px;
        left: -700px;
        height: 100%;
        width: 700px;
        max-width: 650px;
        padding: 40px;
        z-index: 50;
        background-color: #fff;
        -webkit-transition: $transition-2;
        transition: $transition-2;
        #close-side-menu {
            position: absolute;
            color: $black;
            right: 20px;
            top: 52px;
            font-size: 24px;
            text-decoration: none;
        }
        #about-me {
            text-align: center !important;
            .avatar {
                border-radius: 50%;
                width: 180px;
                margin: 0 auto;
            }
            h5 {
                font-size: 16px;
                color: $gray;
                text-align: center;
                margin: 20px 0px;
                text-transform: uppercase;
            }
            h3 {
                color: $black;
                font-weight: 600;
                font-family: $PlayFireFont;
                margin: 20px 0px 15px;
                text-align: center;
                text-transform: capitalize;
                font-size: 32px;
            }
            p {
                font-size: 14px;
                font-family: $RobotoFont;
                font-weight: 400;
                color: $gray;
                text-align: center;
                text-transform: capitalize;
                padding: 0px;
            }
            #socials-nav-right {
                display: block;
                float: none !important;
                margin: 20 auto;
            }
        }
        #search-and-links {
            margin-top: 50px;
            h4 {
                font-family: $PlayFireFont;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                color: $lightgray;
                opacity: 0.75;
                margin-bottom: 20px;
                letter-spacing: 3px;
            }
            ul {
                display: block;
                margin-bottom: 50px;
                li {
                    margin: 20px 0px;
                    text-transform: capitalize;
                    a {
                        font-family: $RobotoFont;
                        font-weight: 400;
                        font-size: 20px;
                        color: $black;
                        text-decoration: none;
                    }
                }
            }
            form {
                input {
                    border: 2px solid $lightgray;
                    padding: 10px 15px;
                    border-radius: 5px;
                    font-size: 20px;
                    color: $gray;
                    text-transform: capitalize;
                }
                input::-webkit-input-placeholder {
                    color: $lightgray;
                }
                input:-ms-input-placeholder {
                    color: $lightgray;
                }
                input::placeholder {
                    color: $lightgray;
                }
            }
        }
    }
    .row {
        #nav-center {
            a {
                position: relative;
                text-decoration: none;
                color: $black;
                font-size: 40px;
                font-family: $PlayFireFont;
                text-transform: capitalize;
                sup {
                    font-size: 14px;
                    text-transform: capitalize;
                    position: absolute;
                    top: 15px;
                }
            }
        }
        #socials-nav-right {
            display: block;
            float: right;
            margin-top: 20px;
            li {
                display: inline-block;
                margin-right: 15px;
                a {
                    color: $black;
                    font-size: 20px;
                }
            }
            li:last-child {
                margin-right: 0px;
            }
        }
    }
}


/*=============================
          articlss
=============================*/

#articles {
    padding-top: 200px;
    .article {
        text-align: center;
        margin-bottom: 70px;
        a {
            text-decoration: none;
        }
        img {
            height: auto;
            max-width: 100%;
            display: block;
            margin-bottom: 20px;
            opacity: 1;
            -webkit-transition: $transition-1;
            transition: $transition-1;
            &:hover {
                opacity: 0.6;
            }
        }
        h2.article-heading{
            padding: 0px 12px !important;
        }
    }
}


/*=============================
          Single Page
=============================*/

#article {
    position: relative;
    padding: 180px 0px 90px;
    #article-head {
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            width: 80%;
            height: 500px;
        }
        .tag {
            margin-top: 25px;
        }
        a {
            text-decoration: none;
            .article-heading {
                margin: 25px 0px;
                font-size: 72px;
                line-height: 1.1;
                padding: 0px 80px;
                color: $black;
                height: 180px;
            }
        }
    }
    .article-content{
        margin-top: 50px;
        margin-bottom: 20px;
    }
    #content-1{
        .heighlight{
            border: 4px solid $lightgray;
            padding: 30px 35px 100px 35px;
            margin-left: 30px;
            margin-top: 50px;
            float: right;
            h5{
                color: $gray;
                font-family: $RobotoFont;
                font-size:16px;
                margin-bottom: 5px;
                text-transform:  uppercase;
            }
            p{
                font-size: 20px;
                color: $black;
                font-weight: 300;
                font-family: $PlayFireFont;
            }
        }
    }
    #blockquote{
        blockquote{
            p{
                font-style: italic;
                font-family: $PlayFireFont;
                font-size:28px;
                color: $black;
                cite{
                    font-size: 18px;
                    font-family: $PlayFireFont;
                    color: $gray;
                }
            }
        }
    }
    .content-5{
        h2{
            font-family: $PlayFireFont;
            font-size: 38px;
            margin: 0px;
            padding: 20px;
        }
    }
    .p-style{
        padding: 0px 20px;
        font-size:18px;
        color: $black;
        font-weight:300;
        line-height:1.8;
        margin-bottom: 30px;
        b{
            font-family: $PlayFireFont;
            font-size: 32px;
        }
        a{
            color: $yellow;
            text-decoration: underline;
        }
    }

    .paragraph-img{
        img{
            text-align: left;
        }
    }
    .img-desc{
        font-size: 14px !important;
        font-weight: 200 !important;
        color: $gray !important;
        padding: 20px 5px !important;
        text-align: center;
    }
    .next-article,
    .prev-article {
        position: fixed;
        top: 50%;
        color: $black;
        font-family: $PlayFireFont;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        margin: 0px 10px;
        text-transform: capitalize;
    }
    .next-article {
        right: -35px;
        -webkit-transition: $transition-1;
        transition: $transition-1;
        span {
            margin-left: 20px;
        }
        &:hover {
            right: 0px;
        }
    }
    .prev-article {
        left: -35px;
        -webkit-transition: $transition-1;
        transition: $transition-1;
        span {
            margin-right: 20px;
        }
        &:hover {
            left: 0px;
        }
    }
}


/*=============================
          Footer
=============================*/

#footer {
    padding: 70px 0px;
    .text-center {
        text-align: center;
        p {
            font-size: 18px;
            color: $black;
            font-weight: 200;
            a {
                text-decoration: none;
                font-weight: 300;
                color: $black;
                text-transform: capitalize;
                background-color: rgba(247, 200, 115, 0.5);
            }
        }
    }
}
